[2016-08-07 15:42] buehler opened #2 "Extension output channel"
A channel to log output to.
There should be multiple settings about the verbosity.

The extension should be able to communicate to the user on errors

[2016-08-07 17:33] buehler opened #3 "Typings files produce duplicated entries"
There are multiple entries with "ts"
Overall: duplicated entries in resolver list

[2016-08-07 17:33] buehler opened #4 "Extend command gui"
add more commands to the list

[2016-08-07 17:33] buehler opened #5 "add typeahead provider"
completion list provider on non imported types

[2016-08-07 17:34] buehler opened #6 "organize imports: import non imported types"

[2016-08-08 06:24] buehler opened #8 "Testing"
Need more unit / integration tests for the extension

[2016-08-08 06:26] #2 closed

[2016-08-08 06:39] buehler opened #9 "Generator extension"
Extension to generate:
- classes (with or without file)
- constructors
- properties

[2016-08-08 06:52] buehler opened #11 "Code Action provider"
Add a code action provider (light bulb feature) to add imports that are not actually imported

[2016-08-08 09:45] buehler commented on #5
code completion options:
- minimum typed characters (default 2)

[2016-08-08 12:30] #4 closed

[2016-08-08 12:31] buehler commented on #4
done with #10

[2016-08-08 12:56] #3 closed

[2016-08-09 15:01] wallverb opened #14 "Ability to rename/move import"
Hi,

Thanks for the great plugin.
One feature request that would be very useful is the ability to rename/move file so that all import references would get updated.  Right now it's pretty painful and require to do it manually.

[2016-08-09 15:19] buehler commented on #14
Good idea 👍

As I'm aware of, this would be a `RenameProvider`

[2016-08-09 15:23] buehler commented on #5
Can be implemented, as soon as
https://github.com/Microsoft/vscode/issues/6874
is resolved.

Right now, it's not possible to add multiple text edit actions when a code completion is triggered.

[2016-08-09 15:26] buehler commented on #14
Is it only when you rename a file, or rather when you rename a symbol in that file (i.e. an exported class)?

I thought, a renamed class should rename all other imports.

[2016-08-09 15:29] wallverb commented on #14
Correct - file rename or move.
Also (not sure if possible) - ability to move things from one file to the other - eg. if you started putting things into one file (that you use from other files) and decided that this file starts to get too big and would like to split.

[2016-08-09 15:32] buehler commented on #8
**ToDo:**
- [ ] Unit tests
- [ ] Integration tests

[2016-08-09 15:35] buehler commented on #14
That would be a refactoring (I think).. refactorings are kinda hard to implement 😃
I got some ideas, but first I want to implement the other convenience functions and then start to implement refactorings (if they're needed)

[2016-08-09 15:44] buehler opened #16 "Refactoring: move class / function / symbol to own file"
a refactoring that moves a symbol (with all related imports) to it's own file
maybe create the file and / or modify an existing file

[2016-08-20 22:55] johne2310 opened #19 "Import assist using backslash \ not forwardslash /"
Import using Windows using backslash initially then all others are forward slashes /.

E.g. import {HelloIonicPage} from './pages\hello-ionic\hello-ionic';

[2016-08-22 08:05] buehler commented on #19
Whoops :-)
I don't work on windows, could you elaborate how it should work?
Should it be `import {HelloIonicPage} from './pages/hello-ionic/hello-ionic';`
or should it use backslashes?

[2016-08-22 11:29] johne2310 commented on #19
Hi,
Confirming it should be /
Thanks. John

On Mon, Aug 22, 2016 at 6:05 PM, Christoph Bühler <notifications@github.com> wrote:
Whoops :-)
I don't work on windows, could you elaborate how it should work?
Should it be import {HelloIonicPage} from './pages/hello-ionic/hello-ionic';
or should it use backslashes?

—
You are receiving this because you authored the thread.
Reply to this email directly,

[2016-08-23 12:43] n00dl3 opened #21 "select quote format"
It would be nice to allow the user to specify which quote to use (single or double). I'm used to double quotes and this plugin uses single ones...

[2016-08-25 15:49] fxck opened #22 "don't reorganise my imports on "add import" + add import at cursor position"
When I add an import it currently reorganises all of my imports, which is quite annoying. What would be nice if it added the import at cursor position and didn't touch my other imports at all.

What do you think?

[2016-08-25 15:52] fxck commented on #21
You can do that in settings

[code]

[2016-08-28 18:39] iRoachie opened #23 "Import should not organize by default"
Every time import is used it automatically organizes all the inputs one after the next. This kinda breaks the layout most people have for their imports.

Such as:
"Angular, library, nodejs imports"
"Empty line"
"Project file imports"

After import it just mushes everything together.

Would be great if **importing didn't automatically organize the imports**

[2016-08-29 05:13] buehler commented on #23
hmm good point :-)

[2016-08-29 05:15] buehler commented on #22
Why add the import at the cursor position? It may shouldn't organize the imports on add import action, but I'd add the import at the top of the document.

It is code design guide line (IMO) to have all imports at the start of the docs.

Or not?

[2016-08-29 05:15] buehler commented on #21
@n00dl3 Just as @fxck  said.
Thanks

[2016-08-29 05:15] #21 closed

[2016-08-29 05:16] buehler commented on #23
Correlates to #22

[2016-08-29 06:31] fxck commented on #22
That depends, I have my imports in certain order,

- angular imports
- 3rd party imports
- services
- components

Something along these lines. And when it puts it on the top, I usually have to move it to the correct place anyway, so I'd rather clicked on the place I wanted the import at and then did alt + ctrl + i.

[2016-08-29 08:04] buehler commented on #22
Hmm

Alright.. currently I'm rewriting the index core to improve the speed drastically. But after that, I'm looking into it. I currently don't know if its cool for everyone to add the import at the cursor (like I use it myself, I just want to import the stuff and work where I'm at)

Maybe that can be configurable?

Let's see when I'm done with the indexing core.

[2016-08-29 08:28] fxck commented on #22
Yep that would be perfectly fine having it optional.

Thanks!

[2016-09-05 08:42] n00dl3 opened #25 "import symbol exported via "export * from...""
I'm working on an angular 2 application and if I import NgModule which is declared in @angular/core/src/metadata and re-exported in @angular/core/index.d.ts, the one imported is "@angular/core/src/metadata" and cause some major problems :
I don't know what kind of dark magic is really happening here, but it kinda import the source file instead of a compiled js and the program crashes at runtime...

[2016-09-05 09:12] buehler commented on #25
During the creation of the symbol list, all "export ..." in a file are actually processed. So if an index.d.ts has an `export * from ...` those declarations are imported from the other name.

I have to investigate that behaviour. Actually, I never tested the plugin with angular 2, but I'll definitely have a look into that. I just need some time to do it ;-)

[2016-09-05 09:26] n00dl3 commented on #25
Just to be more precise :

I'm talking about my angular app, not vscode nor the plugin...

[2016-09-05 09:59] n00dl3 commented on #25
OK, I think I found something:
[in file ResolveItemFactory.ts](https://github.com/buehler/typescript-hero/blob/master/src/factories/ResolveItemFactory.ts#L57-L60) :
The plugin only act on declarations but not on exported members.
I think it should actually change the library name of re-exported members recursively...

[2016-09-05 10:49] n00dl3 commented on #25
[I was f***ing right !](https://github.com/n00dl3/typescript-hero/blob/dev/src/factories/ResolveItemFactory.ts#L58-L73)

[2016-09-05 10:52] buehler commented on #25
:-) good catch.

Since I'm rewriting this logic anyway, I can merge this and will keep it in mind for my new core logic.

[2016-09-05 10:54] n00dl3 commented on #25
ok, I'll make a PR.

[2016-09-06 07:35] n00dl3 commented on #25
Should be fixed by https://github.com/buehler/typescript-hero/commit/3de7214e47c245be5a3d4386f6d6fbaed552ac62

[2016-09-06 07:35] #25 closed

[2016-09-06 15:07] n00dl3 opened #27 "Organize import removes imports if they are used in property assignment"
(Still with angular 2.) I have a "routing table" that tells the app which class should be instanciated for the corresponding route, if I run the "organize imports" command in that file, it removes all my imports. These references should be taken in account by the plugin while organizing imports.

**Before:**

[code]

**After :**

[code]

[2016-09-06 15:46] n00dl3 commented on #27
It comes from TsResolveFileParser.ts [at line 28](https://github.com/buehler/typescript-hero/blob/master/src/parser/TsResolveFileParser.ts#L28).
why is `SyntaxKind.PropertyAssignment` disallowed for parent ?

[2016-09-06 20:36] buehler commented on #27
I did not test it with angular, there were some PropertyAssignments where it should not be allowed. Well it seems that this PropertyAssignment is allowed after all. Well its 0.x version, so I assume there are many usecases that are not handled as well. It's kind of mindblowing with all the varieties that `.d.ts` files come by.

I had some major progress this evening with my rewrite, so I'll add th

[2016-09-07 07:24] n00dl3 commented on #27
I'd be glad to help, of course. I know it's a 0.x version and even if some use-cases are not handled I found this plugin was (one of) the most effective out there :wink: .

[2016-09-08 13:54] #23 closed

[2016-09-08 13:55] buehler commented on #23
Closed by #28

[2016-09-08 13:56] buehler commented on #27
It should be fixed by #28
@n00dl3 would you mind to try it out (it's merged into the master)

I also remapped the "add import under the cursor" command to `ctrl+alt+shift+i`

Thanks for any suggestions ;-)
Cheers

[2016-09-08 13:57] buehler commented on #22
Closed by #28
The simple "add import" or "add import under the cursor" do not reorganize the imports.
If you run the command to organize, all imports are consolidated / sorted / filtered by usage.

[2016-09-08 13:57] #22 closed

[2016-09-08 13:58] buehler commented on #19
Should be fixed by #28

[2016-09-08 14:22] fxck commented on #22
Cool, you gonna release it anytime soon(no idea how that VSC marketplace work)?

[2016-09-08 14:28] buehler commented on #22
Yea, I'm gonna do some testing on the master branch (with the help of @n00dl3) and if I'm certain, everything should work as expected, I'm gonna release it under v 0.6

[2016-09-08 14:55] n00dl3 commented on #27
It seems there are still some problem with organize imports.
(Fun fact: )I tested this in the plugin source (`src/parser/TsResourceParser.ts`).
It removes `injectable` and `Logger` from the list of imports.

[2016-09-08 14:57] buehler commented on #27
well... booooh! 😄
I'll open another ticket for that

[2016-09-08 14:58] buehler opened #30 "Some imports vanish during organize imports"
e.g.
`injectable` `Logger` from the parser source

[2016-09-08 15:05] n00dl3 commented on #27
I also tested in other files of the project and it removes several imports : `@decorators()` calls and interface "Y" in `class X implements Y{}`.
there are also more random behaviours in other files (`src/models/TsExports.ts`, for example).

However, the plugin seems to be a good example of real-life project for testing use-cases.

[2016-09-08 15:11] buehler commented on #27
What about the vanishing import in an angular project?

[2016-09-08 15:14] n00dl3 commented on #27
No problem for property assignment in my routing table anymore.

[2016-09-08 15:14] #27 closed

[2016-09-09 06:20] buehler commented on #30
Hey @n00dl3
Alright I found the bug:
All `Identifiers` were parsed, but not those on class definitions. So if you have an identifier inside a class (i.e. PropertyAssignment or whatnot), the identifier was not parsed.

I tried it with multiple files. It should work as expected right not.

[2016-09-09 09:23] buehler opened #33 "Refactor `asRelativePath` logic"
Since version 1.5(.1), vscode `workspace.asRelativePath` does not deliver a preceeding slash.

-> Workspace files must be recognizable through the TsResource class.

[2016-09-09 10:15] #30 closed

[2016-09-09 16:29] buehler opened #36 "Aliases are not correctly indexed"
If something is exported as (`export Foobar as Foobaz`) it's not correctly handled

[2016-09-09 22:43] johne2310 opened #37 "Ctrl+Alt+i show long list of paths"
Previous version (0.54) showed short (local?) list of import files. Updating to 0.60 show infinite list of files. See attached pic.
![vscode typescript hero 2](https://cloud.githubusercontent.com/assets/12781989/18405110/915bf2de-7732-11e6-9d04-285babfb0f66.png)

[2016-09-09 22:45] johne2310 commented on #19
Backslashes still showing in 0.60. See attached pic. Also additional dot at start of file string (see comparator import in pic.

![vscode typescript hero 1](https://cloud.githubusercontent.com/assets/12781989/18405130/c203132c-7732-11e6-930e-940d41885242.PNG)

[2016-09-10 07:16] buehler commented on #37
Holy...
Well. This has something to do with the 1.5.1 update. They changed some stuff with the workspace path engine.
I'll have a look into it.

[2016-09-10 07:17] buehler commented on #37
In addition: if you simply want to exclude `compiler` for example, you can do so with the exclude path setting of the resolver.

[2016-09-10 07:19] buehler commented on #19
I need to check this on a windows machine :neutral_face:

[2016-09-10 07:42] buehler commented on #5
Multiple edits are supported, but the suggestions are never shown :-(
https://github.com/Microsoft/vscode/issues/11788

[2016-09-10 12:41] buehler commented on #37
@johne2310 alright, I analyzed the behaviour. All those keys are exported variables by angular. What I actually can do is sort the own workspace files to the top, but the list won't be any shorter. But at least, your own files are at the top.

What do you think?

[2016-09-11 11:32] #19 closed

[2016-09-11 21:25] johne2310 commented on #37
Sounds like a practical solution. Many thanks.

On 10 Sep 2016, 10:42 PM +1000, Christoph Bühler <notifications@github.com>, wrote:

[2016-09-12 08:16] buehler opened #40 "Default exports / imports are not working"
It's actually not possible to import a default exported element.

[2016-09-12 08:52] fxck commented on #22
@buehler how is it supposed to work? When I press the command ctrl + alt + shift + i nothing comes up..

[2016-09-12 09:16] buehler commented on #22
When nothing comes up, the symbol is already imported. You only see a selector list, when there are multiple definitions that match the currently typed filter.

When you type `Foobar` and hit the combination, the import should be automatically inserted.

[2016-09-12 09:29] buehler commented on #22
But there is actually the following unreleased feature: If you do not correctly type out the whole word, you'll see the list anyway. So this will be in the next release.

![vid](http://www.giphy.com/gifs/3o6ZtqrDgq2u52tURO)

[2016-09-12 09:29] fxck commented on #22
Ok, that is a little confusing, do I have to know precise name of what I want to import beforehand then? Why doesn't it work the same way `ctrl+alt+i` does, so I could search for it?

Also it's still doing some reorganisations.

This is what my imports look like before using it:

[code]

..now I want to add `DatePlateComponent` so I put my cursor right after this part

[code]

so I write `DatePlat

[2016-09-12 09:32] buehler commented on #22
Oh.. I misunderstood you. "Import under the cursor" means, you actually import the symbol that is right under the cursor.

I'll make another ticket for that.

[2016-09-12 09:33] buehler opened #41 "Configurable space where imports are written"
Related from #22

It should be possible to configure, where new imports are inserted

I can think of 2 possibilities:
- At the top of the document (default)
- At the current cursor position; *IF* there is already some text in the currently selected line, the line above will be used

[2016-09-12 09:34] buehler commented on #22
@fxck Could you check the text of the new ticket and complement the rest if needed?

[2016-09-12 09:34] #37 closed

[2016-09-12 09:36] fxck commented on #41
lgtm

[2016-09-12 10:49] n00dl3 commented on #14
there's an [issue on typescript's repo](https://github.com/Microsoft/TypeScript/issues/10218) about that

[2016-09-12 11:09] buehler commented on #14
oh.. cool :-) so maybe they'll implement it

[2016-09-12 11:53] Ciantic opened #42 "Not working in tsx files"
I have fairly big react app, and I'm not sure is it this app only, or tsx files, but Ctrl+Alt+I says "There are no entries to pick from", typing there gives empty also.

However e.g. VS Code's own "Ctrl+T" symbol explorer finds all components and functions just nicely.

Does this extension have some sort of own resolver? I can see the "Resolver checkmark" in the status bar, maybe it doesn't work w

[2016-09-12 12:40] buehler commented on #42
Hi @Ciantic
Sadly, there is no file indexer exposed to extension developers. So I did it myself with the help of the typescript compiler. But ye, tsx files are not indexed yet.

Good point, and I'll definitely look into it.

Cheers

[2016-09-13 07:40] dwirz opened #43 "Generates `Duplicate Identifier` for already imported stuff via multiline import"

[2016-09-13 07:48] buehler commented on #43
General problem with multiline imports :-)

[2016-09-13 07:51] buehler opened #44 "Ask for alias name if specifier is duplicate"
If an import would create a duplicate specifier, ask for an alias name.

[code]

[2016-09-13 11:27] Ciantic commented on #42
I opened an issue to vscode, surely there must be some better way than to re-implement file-indexer. See issue https://github.com/Microsoft/vscode/issues/11949

[2016-09-13 11:30] buehler commented on #42
@Ciantic thanks mate :smile:

Let's see what they mean. Actually, just to add `*.tsx` files, shouldn't be much work, but yea if this would be offered by vscode would be nice ;-)

Cheers

[2016-09-13 15:06] buehler commented on #42
@Ciantic would you mind to write a small `tsx` example here?
A small bit of code, so I can test it against the extension.

[2016-09-13 15:08] buehler opened #46 "Newly created file not indexed"
Maybe change from fileWatcher to "on save file" event

[2016-09-13 16:08] buehler opened #48 "Built items are in index (d.ts files in build results)"
Extend default values of excluded filepathes with build folders

[2016-09-14 05:57] #36 closed

[2016-09-14 08:48] n00dl3 opened #49 "don't import from index if current file is in subfolder"
I have this directory-tree:
[code]
**index.ts:**
[code]
**parent-class.ts :**
[code]
**sub-class/sub-class.ts :**
[code]
If I try to add ParentClass import in the SubClass file, it ends up like this :
[code]
which is an invalid import syntax. In this case it should be :
[code]

[2016-09-14 09:41] buehler commented on #49
Oh :-)

Well, that's a bug then.

[2016-09-14 10:15] Ciantic commented on #42
the simplest stateless component is just exported function, like this:

[code]

[2016-09-14 12:58] buehler commented on #42
Alright, this looks like "normal" typescript, so it shouldn't be a problem to throw this file at the typescript compiler.

[2016-09-14 16:06] #8 closed

[2016-09-15 06:02] #48 closed

[2016-09-15 06:07] buehler commented on #42
@Ciantic could those tsx files also be in a node module or a typings lib?

[2016-09-15 06:21] buehler commented on #42
Well I solved the question ;-)
Next version will have tsx support.

[2016-09-15 07:23] #5 closed

[2016-09-15 07:23] #42 closed

[2016-09-15 12:29] #49 closed

[2016-09-16 06:10] buehler opened #54 "Module ... resolves to a non-module function"
Related to https://github.com/Microsoft/TypeScript/issues/5073
When using a module only without a namespace, the external reference should be used instead of a `import * as ... from ...`.

Example: `yosay`

[2016-09-16 06:49] buehler commented on #11
Possible usage:
- [ ] Test

[2016-09-20 08:16] buehler opened #55 "Code completion not showing in default vscode completion"

[2016-09-20 16:04] #55 closed

[2016-09-21 07:05] #40 closed

[2016-09-21 08:40] #46 closed

[2016-09-21 10:38] kkovalevskiy commented on #43
Multiline imports are required for cases when tslint "max-line-length" rule is enabled (I think that the most of ts projects are using this rule), so the issue is pretty actual

[2016-09-21 11:14] buehler commented on #43
Whoops. Well I planned to fix "all" the bugs first (in this issue list) before implementing new features, so it'll be in the next release(ses)

[2016-09-21 12:04] buehler commented on #54
Actually.. provide a CodeActionProvider that can fix the issue is much more efficient than coding several special conditions to the parser.

Should be implemented in #11

[2016-09-21 12:04] #54 closed

[2016-09-21 12:04] #33 closed

[2016-09-21 21:29] buehler opened #60 "Support multiline imports"
This would mean:
- Successfully parse multiline imports
- Define a length, after which the imports are multilined (during organize / add import)

References to #43

[2016-09-22 07:50] dwirz opened #61 "Autocomplete creates import for current file/class"
Example:
[code]

[2016-09-22 08:22] MastroLindus opened #62 "React/tsx support"
Be able to import symbols exported in tsx files

[2016-09-22 08:23] MastroLindus opened #63 "Node modules typings support"
Be able to import symbols from node projects, ideally supporting both styles in here https://www.typescriptlang.org/docs/handbook/typings-for-npm-packages.html  and the new typescript 2 "@types" syntax.

[2016-09-22 08:30] buehler commented on #62
Hey @MastroLindus
tsx files are supported already #52 #42

[2016-09-22 08:30] #62 closed

[2016-09-22 08:31] buehler commented on #62
Addition:
There are tests for tsx as well:
https://github.com/buehler/typescript-hero/blob/master/.test/MyReactTemplate.tsx

[2016-09-22 08:46] buehler commented on #63
Actually, `*.d.ts` files, that are contained in node_modules are indexed as well.
Or what do you mean exactly?

The @types will be supported, when typescript 2 is officially out ;-) Right now, the extensions do not run on typescript 2, so you cannot parse those new notations.

[2016-09-22 17:14] buehler opened #64 "Autocomplete suggests already imported symbols"

[2016-09-22 17:29] #61 closed

[2016-09-22 17:29] #64 closed

[2016-09-23 09:47] #43 closed

[2016-09-23 09:47] #60 closed

[2016-09-23 09:51] buehler commented on #41
@fxck Just to notify you, the next version will contain this feature ;-)

[2016-09-23 10:19] fxck commented on #41
Cool, what's the ETA? :)

[2016-09-23 10:35] n00dl3 opened #67 "Put lower priority for typeahead completion in property name"
When typing the name of a property in an object declaration (in order to pass it to a function that expects a certain interface), the hints for importing a class/interface/whatever comes prior the ones for the  property.

The hovered one is what I want to insert and the first ones are from the import suggestions:
![screenshot](http://s11.postimg.org/5oqi3xawj/2016_09_23_122758_5760x1080_scrot.png)

[2016-09-23 12:04] buehler commented on #41
Phew, good question :-) as soon the milestone 0.8 is done
possibly in the next few days

[2016-09-23 13:24] fxck commented on #41
You sure you didn't mean next few hours lol. Good job.

[2016-09-23 13:51] buehler commented on #41
Whoops :-) got some time and it wasn't that much of a challenge.. (as you see in the PR)

[2016-09-23 14:04] buehler commented on #67
@n00dl3 Thanks :-)

I don't think I can lower the priority. What I could do is sorting them to the bottom. But I fixed some bugs for the auto completion, so actually should not suggest stuff that is already imported or in your own file.

Would you mind to check that out? =)
(master branch)

Cheers

[2016-09-23 14:30] n00dl3 commented on #67
I'll test that this weekend, I'm in a hurry right now :tired_face: !

[2016-09-23 14:36] buehler commented on #67
No worries ;-)

[2016-09-23 14:37] buehler opened #69 "Autocomplete fires on ".""
If you have a variable that is named `config` and you want to use this variable, the config of chai wants to be imported.

[2016-09-23 14:52] buehler commented on #69
Is kind of a hard achievement 😐

[2016-09-24 14:56] buehler commented on #69
'.' does fire the command "accept code completion" which then fires the import.

So the completion provider should filter local variables of the file.

[2016-09-24 15:09] buehler opened #71 "Default import should suggest name (if any is provided)"

[2016-09-24 15:09] buehler commented on #71
related to https://github.com/Microsoft/vscode/issues/11503

[2016-09-24 15:36] #44 closed

[2016-09-24 15:50] buehler commented on #41
@fxck Alright.. the new version is deployed :-)

[2016-09-26 12:38] DiamondeX opened #73 "New import location at the top of the file is not what expected."
Good extension! But...

1. I expect that new imports are added at the top of the file but after `"use strict"` directive and
2. possibly preserving alphabetic order.
3. It is also helpful to leave header comments adove import location.
4. Yet the comment like `//imports` may help to determine preferrable position for them.
5. Ability to use three common groups of imports delineated by blank lines:

[2016-09-26 15:15] fxck commented on #41
@buehler works fine, but it's still reoganizing my existing imports, changing indentation and stuff :(

before

[code]

after

[code]

[2016-09-26 17:19] buehler commented on #41
Oh bummer...
Do you configure the spaces in your vscode file? So it would be an option to get the configured value out of the vscode config to add the spaces or tabs?

Cheers

[2016-09-26 17:55] fxck commented on #41
Well first of all, it should completely ignore existing imports, no A-Z reordering, no touching of indentation. But yeah, when it comes to indentation of typescript-hero's imports, it should use current indentation of the editor, but AFAIK I don't have it explicitly set, but it's reading it automatically from the file. I'll check tomorrow.

[2016-09-27 06:22] fxck commented on #41
Ok, so I do have

[code]

in my user settings

[2016-09-28 09:23] buehler commented on #73
Hey @DiamondeX
Thanks for your thoughts :-)

1. good point! but why do you even use `"use strict"` as I'm aware of, typescript does not need use strict anymore
2. It actually does sort the imports when you use "organize imports" and since workspace files are preceeded by a dot, they are sorted at the top.

6 counts to the sorting thingy :-)

For the fifth point, it would be nice, but it's kinda ha

[2016-09-29 07:45] buehler commented on #41
Ok I need to check the code for that :-)
It actually wasn't the idea to touch every import but maybe for some reason I did exactly that. I'll have a look at that. But I'll move it to another ticket, since it's a feature on its own.

[2016-09-29 07:45] #41 closed

[2016-09-29 07:48] buehler opened #74 "Multiline imports must respect indentation settings"
Comes from #41

- Respect the editors settings for indentation
- Refactor importing logic, do not touch existing imports

[2016-09-29 07:49] buehler commented on #67
Hey @n00dl3 got a chance to check it with the new and shiny 0.8.0 version?

[2016-09-29 08:18] n00dl3 commented on #67
Oh sorry, I forgot that.
yup, still the same with 0.8... :disappointed:

[2016-09-29 08:28] buehler commented on #67
Well I'll have a look at that. VSCode did something to this priority stuff, but I don't know if it's solving your / our problem..

[2016-09-30 06:41] buehler commented on #69
First task should be to add the document offset of the tokens (classes etc) to the nodes

-> document.positionAt(offset)

[2016-09-30 10:23] SetTrend opened #75 "Remove the need to restart VS Code when typescriptHero.resolver.ignorePatterns setting is changed."
Using the `typescriptHero.resolver.ignorePatterns` option is a bit cumbersome because VS Code needs to be restarted for accepting the changes.

Please add a watcher to settings so their values are getting caught immediately when saving the `settings.json` file.

[2016-09-30 11:53] SetTrend opened #76 "Can I opt-out of TypeScript-Hero displaying absolute paths in module suggestion list?"
I don't know why, but when listing modules from the `node_modules` folder, **typescript-hero** lists these with an absolute path:
![absolute paths](https://cloud.githubusercontent.com/assets/9283914/18990832/fd194a48-8714-11e6-86fe-1479fe1fa6c9.png)

This isn't helpful as I cannot see which module the come from because the path is getting truncated.

Is there an option to have **typescript-hero**

[2016-09-30 12:22] buehler commented on #75
Actually, there is an event for that. Good point! Thanks

[2016-09-30 12:24] buehler commented on #76
Actually, it should display all relative paths. I'd go for the reason "Windows" ;-)
I'll try that on my windows machine, because on OSX, you'll see all relative paths.

[2016-09-30 13:03] buehler opened #77 "Support @types of TS2.0"

[2016-09-30 13:03] #63 closed

[2016-09-30 13:04] buehler commented on #63
Referenced in #77

[2016-09-30 15:06] DiamondeX commented on #73
About "use strict" consider this [answer](http://stackoverflow.com/a/31395185/3381938) at stackoverflow

[2016-09-30 15:16] buehler commented on #73
Yea you are right, but I just checked, "use strict" is emitted by the typescript compiler. Or am I wrong?

Well anyway, since "use strict" has to be on the top of a file, I'll prevent the organizer to add imports before the use strict ;-)

On the other thoughts I'll have a look at when I got time for enhancements

[2016-09-30 16:48] SetTrend commented on #76
Thanks for the good work! :+1:

[2016-09-30 16:50] SetTrend commented on #75
Excellent! Thanks :+1: :cake:

[2016-10-01 13:25] jorgeas80 opened #79 "Can't run any of the commands"
When I hit Ctrl+alt+g, I get this warning:

When I hit Ctrl+alt+i, I get this warning:

In both cases, nothing happens after that.

OS: Ubuntu 16.04
VSCode v1.5.3
TypeScript v2.0.3

[2016-10-03 06:05] #74 closed

[2016-10-03 06:08] buehler commented on #79
Hey @jorgeas80
It could be an issue with TypeScript 2.0
Do you see a "flame" in your infobar right next to the "Resolver" ?

If there is a flame, there was an error and you should get an output `TypeScript Hero Extension` where this error would be logged.

Maybe there is an error with ubuntu as well 😢

Could you check if you had any error outputs?
Cheers

[2016-10-03 06:30] buehler opened #80 "Respect comments between imports"
They could be used to organize imports

Maybe some kind of a "group system" (with specific comments to group imports)

Or just ignore comments and place them again.

[2016-10-03 08:15] #73 closed

[2016-10-03 15:24] DiamondeX commented on #73
@buehler, Should I open new issues for some of the above features except one with use strict?

[2016-10-03 15:31] buehler commented on #73
@DiamondeX yea, if you don't mind, it would be nice!
Some of them should be covered with the other issue #80
A possible plan would be to introduce special comments (like `// TSH:`) or so, that allow grouping of imports

[2016-10-03 15:39] jorgeas80 commented on #79
Hi @buehler

I see the flame, but when I click, it just restarts the index process

Check the screenshot: http://pix.toile-libre.org/upload/original/1475508433.png

Running code from command line doesn't help. It doesn't generate any output :-(

[2016-10-03 15:46] buehler commented on #79
Alright, could you set the verbosity to "all" and send me the logs?
the setting is `typescriptHero.verbosity`. This can be set to `All`.

Afterwards, have a look at your outputs:
![outputs](https://dl.dropboxusercontent.com/spa/agn3r6rkwi4rxn7/wvyb1v3i.png)

The output window is found at the view menu :-)
If it throws an error, it would be cool to receive those logs..

[2016-10-03 15:57] jorgeas80 commented on #79
This is what I get.

![error_log_output](http://pix.toile-libre.org/upload/original/1475510100.png)

I have several angular-cli generated projects as subfolders of the same root folder. Each subfolder (there are 12 of them) have its own node_modules folder (I know, I could just create symlinks). Maybe the extension is trying to index ALL the folders (I have the root folder open in the editor, so,

[2016-10-03 17:50] DiamondeX opened #82 "Respect usual semantic import groups"
This is an offspring proposal of #73 in part of 5th option: _Ability to use three common groups of imports delineated by blank lines: provided by node (fs, path, http etc.), provided by npm (express, angular, chalk etc.) and project specific (defined with path)_

I suggest following logic to distinguish groups.
1. There are limited number of Node built-in modules. So, first of all we may check imp

[2016-10-03 20:03] buehler commented on #79
Thanks for the details!
Actually I got an idea what this could be..

The problem with the syntax tree is, that you can create stuff without names. E.g.:
[code]

This syntax is totally valid, but horrible to parse. This class's got no name. So the property `text` of the Name-Literal node in the AST is actually hitting an undefined node. This is what booms here.

Do you have any examples open source

[2016-10-03 20:04] buehler commented on #82
I'll take it into account.. but I really do like to implement some other stuff first ;-)

[2016-10-04 00:43] jorgeas80 commented on #79
Yes, just create a new project with angular-cli:

ng new myapp

Open it with VSCode and hit Ctrl+Alt+g, for example. Or as an alternative, clone this repo https://github.com/jorgeas80/angular-cli-starter (the basic boilerplate created with angular-cli)

[2016-10-04 02:12] jamesgroat opened #83 "Organize imports: Reference path gets moved below imports and fails"
I have a reference path defined that gets moved to below the import tags and hence fails. Reference paths should apparently be kept at the top?

i.e.
[code]

[2016-10-04 06:31] buehler commented on #83
Hey @jamesgroat
Oh.. those are still used?

I thought with typings / @types references, those reference paths were a thing of the past.

I'll have a look at it

[2016-10-04 07:12] jamesgroat commented on #83
I'm using one as a hack b/c rollup.js is not playing nice with a 3rd party library. Either way, would be nice to have it not re-order the lines in a way that breaks the reference.

Thanks!

[2016-10-04 07:35] #75 closed

[2016-10-04 13:24] buehler opened #85 "Add statusbar indicator for debug restarter"

[2016-10-05 10:36] Chudesnov commented on #79
Another example: https://github.com/eldargab/translit/blob/master/index.js

[code]

exported function has no name, so in typings (.d.ts) for that module in my project I wrote:

[code]

In VSCode extensions console I get this from TS Hero (reduced output):

[code]

[2016-10-05 14:02] techy2493 opened #86 "Causes VS Code to crash when running npm install from terminal."
When running NPM install from the integrated terminal with Typescript Hero installed VS code pops up a window reporting that is is not repsonding and asks the user to restart/wait/close.

Below is the content of the package.json I am trying to install.

{
  "name": "A PROJECT",
  "version": "1.0.0",
  "dependencies": {
    "@angular/common": "2.0.0",
    "@angular/compiler": "2.0.0",
    "@angular

[2016-10-05 17:42] buehler commented on #86
hmm.. maybe it tries to reindex every downloaded file..
a "quick fix" would be to use an external terminal 😉

[2016-10-05 18:23] buehler opened #88 "Upgrade to TS2.0"

[2016-10-05 18:27] buehler commented on #83
Well.. bad news :-(
I investigated the problem and analyzed the generation of the AST by the compiler. Sadly, there are no tokens generated for reference pathes.

This is the source:
[code]

The generated AST looks like this:
[code]

My suggestion would be:
[code]

If the library is enriched with JSDocs, vscode will parse those and give you intellisense. But sadly, typescript does not provide any

[2016-10-05 19:33] #85 closed

[2016-10-05 19:37] #83 closed

[2016-10-06 00:35] jamesgroat commented on #83
@buehler any chance we can just treat it like a special-case comment and leave those at the top of the page when organizing imports?  Thanks either way for having looked.

[2016-10-06 10:12] Anjmao opened #90 "Import from exports"
It would be nice to be able to import from reexports.

*users/index.ts*
[code]

*main.ts*
[code]

[2016-10-06 10:25] #90 closed

[2016-10-08 13:59] buehler commented on #6
Will be covered with code action provider :-)

[2016-10-08 13:59] #6 closed

[2016-10-08 15:15] #69 closed

[2016-10-08 16:04] Haemoglobin commented on #88
Is this why it's not working for me and I get errors like "command 'typescriptHero.resolve.addImportUnderCursor' not found" ?

[2016-10-09 20:24] buehler commented on #88
Hey @Haemoglobin
Well nope :-( I assume that the extension throws an error on startup. So it does not even load. Do you have any output?

[2016-10-12 15:58] #71 closed

[2016-10-12 15:58] #77 closed

[2016-10-12 15:58] #88 closed

[2016-10-13 15:07] buehler commented on #79
Hey @jorgeas80 @Chudesnov
I fixed the bug and tested it with a plain project of the angular-cli. It was indeed the default exports without a name.
It does work with a plain project and I plan to release 0.9 this weekend.

I'd be happy to hear any feedback if it's not working for you guys.

Cheers

[2016-10-16 22:46] michaeljota commented on #82
I came here to ask if we could set the position of the import line to the bottom of the import list, but this is really what I was looking after.

BTW, great tool. Idk how I coded without it.

[2016-10-17 06:06] buehler commented on #82
@michaeljota Thanks :-)
I assume this should be a more or less easy change. I'll open a separate ticket for that matter since this one is more complicated.

[2016-10-17 06:09] buehler opened #97 "Possibility to add imports "at the bottom of the imports""
Related to #82

When new imports are added at the top of the file, a new import should be at the bottom of the imports.

[code]

[2016-10-18 10:09] guillaume86 opened #98 "Add an option to not strip /index when inserting import path"
When using JSPM (and possibly other similar package managers/bundlers), folders are not automatically resolved to the /index file (have to explicitly point to the /index). It would be nice to have the option to leave the /index as it is when inserting imports.

[2016-10-18 11:17] cebor opened #99 "Auto import for `console`?!"
When typing `console` ts-hero automatically adds the following import statement

[code]

This produces an error.

[2016-10-18 13:36] isaacplmann opened #100 "Trailing comma for multi-line import setting"
I'd like a setting to add a trailing comma when using a multi-line import.

Like this:

[code]

I have my tslint rules set to require this (makes re-ordering and git diffing easier).

A name could be:

multiLineTrailingComma - default: false

[2016-10-18 15:00] buehler commented on #99
Oh ... :-) seems like globals must be handled specally..

[2016-10-18 15:35] buehler commented on #99
Actually, I saw that there is a namespace "console" and a declared var named console. Since the sort order of vscode lists the namespace first, you get the import.

Maybe I can implement a custom sort to order namespaces and modules to the bottom.

[2016-10-18 16:19] techy2493 commented on #86
I wonder if caching would be a suitable resolution to this?

Hash every file, index the hashes, and when it looks at files that appear to be new, compares the hash against it's indexed hash for that file path and if it exists and is the same it does not reindex the file.

[2016-10-18 18:03] buehler commented on #86
Hey @techy2493
Hmm actually, that's what it _should_ ™️  do.
I do not hash the files, but tell vscode to deliver the files that are created or changed.
It's this part of the extension: https://github.com/buehler/typescript-hero/blob/master/src/extensions/ResolveExtension.ts#L148-L165

I assume, it's a problem with the `endsWith`. Actually it should filter all files that are not in the workspace it

[2016-10-18 18:05] buehler commented on #86
I'll have a look at it for v0.10 but if you want, I'm more than happy if you have any solution ;-)
I'm currently working on automated testing, but as long as travis does not recognize my test workspace, you have to run the tests locally.

[2016-10-19 00:55] michaeljota opened #101 "Add option to define the start path."
Right now, when importing it start the path at '../'
I would like an option to set it to './..'

It's a cosmetic feature, and an important one. :P. But, I would really like it.

[2016-10-19 01:39] michaeljota opened #102 "Possibility to group and sort the imports of a document"
I believe I saw a sorting function.
I think that would be a great point to start the semantic order thing (#82).
## Update

A new configuration section to sorting:
- `typescriptHero.sort`
  To define all the sorting options
  value type: `Object`
- `typescriptHero.sort.type`
  To define the sorting type
  value type: `string`. Possible values: `ascending` | `descending` | `semantic`
  _If none is

[2016-10-19 06:35] buehler commented on #101
Hey @michaeljota
Quick question.. Why? :-)

At the beginning, this extension did that. But is pretty useless since any filesystem will just strip the information. Is there any good reason to do this?

[2016-10-19 10:18] MastroLindus opened #103 "npm module typings mentioned in package.json are not picked up"
If an mpm library (like mobx) ships with typings and they are declaring their index types file in the package.json (as according to http://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html ) , the tool cannot find them. It looks like the tool only finds typings that are in the root folder of the npm module

[2016-10-19 10:22] MastroLindus opened #104 "issue while importing some ts2 @types typings"
Example with React: I try to import react in my file after having installed its @types, the resulting import statement generated will be:
import \* as react from 'React';
while normally it is expressed as
import \* as React from 'react';

same thing with react dom:

generated (actually wrong): import \* as reactdom from 'ReactDOM';
wanted: import  \* as ReactDOM from "react-dom";

[2016-10-19 11:00] MastroLindus opened #105 "overloaded function is shown multiple times (one per overload)"
reproduction case:
npm install mobx-react

try to import "observer":
you will see one entry for each overload.

Moreover because all d.ts files are processed and not only the index one, you will see even definitions from custom.d.ts and native.d.ts that shouldn't be shown

[2016-10-19 11:03] MastroLindus opened #106 "Feature: add all missing imports"
It would be really convenient to have a way to quickly trigger a command that will add all missing imports from the file (for imports that have only one result available, obviously it cannot work automatically if you have two or more imports available for the same symbol).

[2016-10-19 11:16] buehler commented on #106
Hey @MastroLindus
Yes that is a good idea. I already had that, but thought it would be fair enough with the #11.

If the lightbulb feature would add the missing imports, would that be enough?

Cheers

[2016-10-19 12:22] michaeljota commented on #101
Semantic (?). I don't think there is a *good* reason, just matter of preference.

I may encounter some edge errors about it, but I can remember, so I stay in semantic. 😋

[2016-10-19 12:46] michaeljota opened #107 "Force to import from barrel"
There is somehow to import _always_ from barrel files? Sometimes it does import from barrel, but sometimes it does not.

[2016-10-19 15:21] buehler commented on #107
What does a `barrel` file mean?
I've no idea what you mean 😅

[2016-10-19 15:24] buehler commented on #101
Well.. I did that in an old version of this plugin, and it caused errors on Windows machines and other special occasions. So I've got to say that I'm not really happy with this proposal.

Since it's not needed and it's much cleaner, I'll stay with the current implementation.

Maybe in the far future, there is room for such a thing, but right now I've got plenty of other stuff to work on 😉

[2016-10-19 15:46] michaeljota commented on #107
From [Angular 2 Glosary](https://angular.io/docs/ts/latest/guide/glossary.html#!#B)

[2016-10-19 15:49] buehler commented on #107
Well actually the code should process all those exporting files. Exports are parsed and processed after the files are parsed with the compiler.

Well there can be some issues with *.d.ts files since there are like a million ways to write those declarations. Can you make an explicit example?

The files that I'm using are working more or less.

[2016-10-20 07:46] MastroLindus commented on #106
Hi @buehler ,

Ideally I would like some kind of command that I can either assign a shortcut to or even better run everytime I save my code, I am not sure the lightbulb feature could provide that? (not really familiar with that feature)

[2016-10-20 12:43] buehler commented on #102
I do like this purposal. There has to be a way to do it with the configuration, since #80 is not gonna be possible. Comments are ignored by the typescript compiler. I built this extension on top of the typescript compiler to make use of the AST of a file. I do not want to parse the document with regex to search for comments. So this sorting feature has to be something like this.

Very good idea.

[2016-10-20 12:46] buehler commented on #106
The lightbulb feature does underline your symbol and says there is something missing. You can then ask the code action provider what to do. And I could provide the solution "import ...".

So this would then import the stuff you need.

The other thing could be a command. Maybe I'm gonna do that, we'll see.

What I definitly cannot do is run the command on every save. The extension does edit the fil

[2016-10-24 14:56] n00dl3 opened #110 "Cannot build index on windows"
#### System information
- OS: Windows
- TypeScript Hero version: 0.9
- VSCode version: 1.6.1
#### Description

Got an error while building the index :

##### Steps to reproduce

Just run the "Rebuild index" command

[2016-10-24 19:59] buehler commented on #110
Oh well. Seems like some library has like thousands of exports :-( or cyclic ones.
What frameworks do you use in your solution?

[2016-10-25 19:02] n00dl3 commented on #110
Angular 2 and a shitload of node_modules, i'll try to dig that when i get back to home, if I can because there's no such problem on linux and I encountered this on a colleague's computer.

----- Message de réponse -----
De : "Christoph Bühler" <notifications@github.com>
Pour : "buehler/typescript-hero" <typescript-hero@noreply.github.com>
Cc : "n00dl3" <julien.durens@yahoo.fr>, "Author" <author@no

[2016-10-26 00:07] michaeljota commented on #102
@buehler I updated the original post.

I see how `tslint` have rules to order internal members, maybe this can take some inspirations from there.

[2016-10-26 16:43] 19majkel94 opened #111 "Autocompletion doesn't work with decorators"
At the time when we had Angular2 and other Typescript frameworks which use `@decorators`, it would be nice to have an working autocompletion on decorators like when we start to type `@Comp` it should show as import suggestion `Component` from `@angular/core` 😉

[2016-10-26 19:46] 19majkel94 commented on #97
Must-have feature while using `reflect-metadata`.

Also it should divide external modules and internal app parts imports by empty line into two section and insert in correct section.
https://angular.io/styleguide#!#03-06

[2016-10-26 21:18] buehler commented on #111
Hey @19majkel94
Actually, it does work (with giuseppe at least :-) )
it seems I need to investigate angular a little bit more. They also produce a max stack size because the have so many export :-(

[2016-10-27 19:16] 19majkel94 commented on #111
Hi @buehler!
Angular is just an example of popular decorator use, the autocompletion also doesn't work with [TypeORM](/typeorm/typeorm):

![2016-10-27 21_12_17-startowa](https://cloud.githubusercontent.com/assets/10618781/19781626/671061fe-9c8a-11e6-95d2-a73779ae2e23.png)

[code]

It doesn't trigger suggestion box when `@` typed, `CTRL+SPACE` open its but there's no functions (like decorators func

[2016-10-30 16:12] jorgeas80 commented on #79
Hi @buehler, it's working for me now :-). Thanks for your effort. Kudos for you, man! :+1:

[2016-10-31 20:49] michaeljota commented on #101
I think got fixed somehow. Well, I do not see any option to configure it, but now the path start with './'. Do I close this?

[2016-11-01 20:53] quodroc commented on #110
I think the main problem is cycles. I modified `processResourceExports` to use a queue instead of recursion, which prevented the "maximum call stack" error but the resolver ran forever without finishing.

Next I tried keeping a list of resources that have already been processed which seems to fix the problem. Added the following to the top of `processResourceExports`
[code]
(code is hacky so I hav

[2016-11-02 09:19] buehler commented on #110
but it is actually a good idea. I might even could use RxJS and throw everything into an observable collection of events. I need to consider this. Thanks!

[2016-11-02 18:43] michaeljota opened #114 "Add implement interface functionality"
#### System information

- OS: any
- TypeScript Hero version: 0.9.0
- VSCode version: 1.6.1

#### Feature Implement interface

A lightbub that allows to implement the interface properties automatically.

#### Reason

Cause we as programmers are lazy and we don't want to setup the properties. xd

#### References

TypeStrong/atom-typescript#256

[2016-11-02 19:13] buehler commented on #114
Hey @michaeljota
Yep that's definitively on the plan :-)
I'm currently working on it @ #11

[2016-11-03 14:32] lucasbasquerotto commented on #106
Hi @buehler

Fisrt I would like to thank you for the great plugin, it saves me lots of time :)

If I understood correctly, the lightbulb would import only 1 symbol each time. I think it would be great if you could **import all non-imported symbols in the file at once** (giving that there is only 1 result found for that symbol).

Do you have something like this in mind?

Cheers

[2016-11-06 12:33] buehler commented on #11
for the refactorings: there will be an own issue.

[2016-11-07 07:02] buehler commented on #101
Uhm... you can :-)
But I'm not really sure what I've done

[2016-11-07 13:09] michaeljota commented on #101
If the path is a child of the current folder, the path start with `./` as `import { SomeComponent } from './components/some.component.ts'´. But if the path is a father of the current folder, the path start with `../`.

[2016-11-08 23:26] subvertallchris opened #117 "Won't import, no errors"
#### System information

- OS: Mac OS 10.11.6
- TypeScript Hero version: 0.9.0
- VSCode version: 1.7.1

#### Description

Import does not... import?

##### Steps to reproduce

Select an entry from the global list of available imports or use "Add import under cursor" option with a known valid importable... thing. No error, nothing happens.

I'm quite new to VS Code, so it's possible that I'm missin

[2016-11-08 23:44] subvertallchris commented on #117
Interestingly, it looks like it might be doing _something_, as it asks for clarification when it isn't sure which file to import or if it needs a variable for a default import. It just never shows up in my imports list.

[2016-11-09 15:13] buehler commented on #117
Hey @subvertallchris
Humm... interesting

I need to investigate that. Will come back to you as soon as I got my refactorings and code action provider coded :-)

[2016-11-09 19:12] subvertallchris commented on #117
Cool, looking forward to your findings. Another possible clue: when I try to import something that is already listed, it tells me that the constant "was not found in the index or is already imported." If I had to guess, the problem is in whatever code is responsible for actually inserting the import statement on the page.

[2016-11-10 16:24] buehler commented on #106
Hey @lucasbasquerotto
I've implemented it in the PR #116 but I need to add it as a command :-)

[2016-11-10 16:26] #11 closed

[2016-11-10 18:07] #106 closed

[2016-11-11 08:16] buehler commented on #86
@techy2493 Does this still exist?
I just tested in 1.7.1 and the filewatcher did not catch an event when files in the node_modules folder changed.

[2016-11-11 17:35] #110 closed

[2016-11-12 11:33] buehler commented on #86
It did not happen in my vscode :-)
If it still persists, feel free to comment here and I'll reopen it.

[2016-11-12 11:35] buehler commented on #99
I just tested it, and the console from the `VariableDeclaration` is hit everytime when I write `console`. Maybe they changed something in the sorting logic. But right now, I'm not experiencing this strange behaviour anymore.

I'll do a release without anything to this, if it still persists to be an error, feel free to write here and I'll reopen it and investigate the error.

[2016-11-13 13:44] cebor commented on #99
Problem still exists for me ...

[2016-11-14 06:59] buehler commented on #99
@cebor
Hmm this behaviour is strange.. when I type `console` the autocompletion looks like this:
![completion](https://dl.dropboxusercontent.com/spa/agn3r6rkwi4rxn7/1ii-5s5e.png)
and when I hit enter or tab or whatever, it does not import anything.

[2016-11-14 07:00] buehler commented on #117
Well I hope the problem is solved with the new version, but maybe there is more investigation work to do :-)

[2016-11-14 07:01] buehler commented on #80
Due to the fact, that comments are ignored by the typescript  compiler there has to be another method of creating a "group system"

[2016-11-14 07:01] #80 closed

[2016-11-14 07:05] buehler commented on #82
This issue is being tracked in #97 and #102

[2016-11-14 07:05] #82 closed

[2016-11-14 16:17] subvertallchris commented on #117
Success! Victory! All hail the new version! Thanks for the follow-up, I'm so excited to have this working.

[2016-11-14 16:17] #117 closed

[2016-11-15 12:52] michaeljota opened #121 "Can't cancel actions"
#### System information

- OS: Windows 10 AU
- TypeScript Hero version: 0.10.0
- VSCode version: 1.7.1

#### Description

Can't cancel actions

##### Steps to reproduce

1. Show the command gui of typescript hero
2. Select add all missing imports or something
3. If it can't resolve all the imports, and ask for input the action can't be cancelled.

[2016-11-15 12:55] michaeljota opened #122 "The gui command can't show after closing while active"
#### System information

- OS: Windows 10 AU
- TypeScript Hero version: 0.10.0
- VSCode version: 1.7.1

#### Description

After #121, I restarted the VSCode cause I couldn't find a way to close the gui or cancel the action. It is now unable to show the gui command.

throws: `ERROR: Cannot convert undefined or null to object`

##### Steps to reproduce

1. Follow #121
2. Close VSCode with the gui co

[2016-11-15 13:00] michaeljota opened #123 "The lightbulb it's not show"
#### System information

- OS: Windows 10 AU
- TypeScript Hero version: 0.10.0
- VSCode version: 1.7.1

#### Description

The lightbulb it's not show.

##### Steps to reproduce

1. Make an error that Hero it's able to resolve, like missing import.
2. The error it's showed but the Hero lightbulb it's not.

[2016-11-15 15:42] buehler commented on #121
Whoops. :-/
That's not cool.

[2016-11-15 15:44] buehler commented on #123
Well, it depends if the missing symbol is found in the symbol-index. Imagine a code like this:
[code]

Now I'm pretty sure, that this symbol is not in my index, so I don't wanna see the light bulb, since it's impossible to resolve the error.

Would it be more "intuitive", if the bulb is shown with the message "cannot resolve symbol laksjdfalksdjflaksdjf" ?

[2016-11-15 15:50] buehler commented on #121
Well, quick question. There is a scenario where vscode keeps asking:
When there is another specifier with the same name

It will ask as long as the specifier is not unique (to prevent error code). Would it be more convenient to just let the user run into an error?

[code]
The code above will produce an error.
VScode will ask as long as something like this is produced:

[code]
The code above will n

[2016-11-15 15:51] buehler commented on #121
Or is it when multiple declarations for the same symbol are found?

[2016-11-15 16:24] michaeljota commented on #123
The problem is it is not showed in any case. Not one it's unable to solve, but ones that should be able to do.

[2016-11-15 16:28] michaeljota commented on #121
The specific scenario was that indeed. I was trying to import something that was declared twice with the same symbol, and was unable to resolve witch one I wanted to use.

I press `esc` hopping to cancel the action, but I did not. It keeps show and wouldn't go. As I said in #122, I close the VS Code instead.

[2016-11-16 14:26] buehler commented on #121
Hmm I see... I'll investigate that matter ☝️

[2016-11-18 07:11] #123 closed

[2016-11-18 07:24] #121 closed

[2016-11-18 07:24] #122 closed

[2016-11-18 08:25] buehler commented on #121
@michaeljota It should work right now. So I removed all the "require" (aka while loop) so you can cancel the action

[2016-11-18 08:27] buehler commented on #123
I do not know if I really "fixed" the problem, but the light bulb should show and inform you if it cannot fix / import a symbol:

![light bulb](https://dl.dropboxusercontent.com/spa/agn3r6rkwi4rxn7/4-2mbvhb.png)

[2016-11-20 09:39] buehler opened #127 "Refactor DocumentController and implement Class Manager"
#### Description

Refactorings to prepare the implementation of #114.

- Rename the `DocumentController` to something like `ImportManager`
- Create the `ClassManager` and the tests for it

After this, #114 can be implemented

[2016-11-21 08:37] megaboich opened #128 "Light bulb support for tsx files"
#### System information

- OS: Windows 10
- TypeScript Hero version: 0.10.1
- VSCode version: 1.7.1

#### Description

Awesome extension, helped me a lot during my last huge code refactoring.
Very useful when you have moved bunch of files and then it is very boring to manually type all new imports.

While it worked flawlessly for .ts files I do not see any bulb for .tsx files.
If that is the issue

[2016-11-21 10:43] buehler commented on #128
Hey @megaboich
Seems like the registering of the code action provider missed tsx :-)
Will have a look into it

[2016-11-23 14:13] michaeljota opened #129 "TypeScript Toolbox"
#### System information

- OS: Windows 10 AU
- TypeScript Hero version: 0.10.1
- VSCode version: 1.7.2

#### Feature

There are several features in [TypeScript Toolbox](https://github.com/cybertim/vscode-gengetset) that are useful, but also other that collides with this. Maybe you could join an develop just one extension? Idk. If you could not, well, as I said, several features in TSTB are useful,

[2016-11-24 01:33] rosslavery commented on #99
This also happens for me from time to time. Not always, but it's hard for me to track down when it happens and when it doesn't.

[2016-11-24 07:39] buehler commented on #129
Hey @michaeljota
Funny you mention the TypeScript Toolbox :-) It was the reason why I started TypeScript Hero 😉
I definitely will port those features. Which features do you mean in particular?
What I've got planned:
- Generate constructor for a class
- Generate methods / properties

What I'm actually developing is "Implement interface / abstract class" into an existing class.

Cheers

[2016-11-24 07:41] buehler commented on #99
Hmm.. well then I try to use this sort property to rule down the namespace.
If I give you a branch with the implementation, would some of you mind to test it with a build from an experimental branch? So I do not need to release a version with the possible bugfix and maybe it's still not fixed.

[2016-11-24 12:15] michaeljota commented on #129
A getter/setter generator for private properties would be awesome, beside the ones you already mention.

[2016-11-25 13:53] michaeljota opened #130 "Support for Advanced path resolution in TypeScript 2.0 with Autoimport"
#### System information

- OS: Windows 10 AU
- TypeScript Hero version: 0.10.1
- VSCode version: 1.7.2

#### Feature advanced path resolution in TypeScript 2.0

There is a new path resolution in Typescript 2.0, `paths` and `baseUrl`. Those are able to import code from the project itself as a `npm` module, when baseUrl it's set, and any other `paths` set.

It would be nice if the autoimport detect

[2016-11-25 14:44] cebor commented on #99
@buehler yes, i will test it when you release a branch with a possible fix

[2016-11-25 16:46] buehler commented on #130
Oh cool, I didn't know about that  feature of TS! 👍

[2016-12-01 10:58] cybertim commented on #129
Since the toolbox started out as a 'generator' for getter and setters, because it would take me less time building an extension than typing all these get/set functions for a project i was doing, in the end sorting imports is more its core business now :-) (with the limited stuff vscode was capable of at the time).

@michaeljota tipped me about Hero and i must say, it is the first extension handlin

[2016-12-01 12:03] buehler commented on #129
Hey @cybertim
Cool, hi there 😄

I've to admit, I saw your extension a while ago and it actually inspired me to create typescript hero. So, your extension is kinda like the father of this one ;-)

I'd be really glad if we could join forces! What I'm working on right now is to generate properties and methods in classes, so I can introduce the feature to automatically implement methods from interface

[2016-12-01 13:45] michaeljota commented on #130
You know? Maybe some 'reimport missing' light bulb as well, that would be nice. :D

[2016-12-02 08:23] buehler commented on #129
@cybertim All the magic happens in the `TsResourceParser` as well as in the `ResolveIndex`
There you find a method for `findFiles` that does resolve all files in the workspace (or apparently not) :-)

[2016-12-02 08:40] cybertim commented on #129
Yesterday I already went through a bunch of code, looks nice, guess you did some C# prior? Lots of stuff (especially async/await) was quite new to me (as Java was my root for years) looks cleaner than the Promise.then() hell I created ;-) Something to remember for the next Typescript project.

But I found the issue, the findFiles filters the `dist` directory, but a lot of node_modules in typescrip

[2016-12-02 09:34] buehler commented on #129
Hehe thanks :-) yea, I was a .Net coder for a long time ;-) I really like async await, and it's gonna be in ES7! (yay)

Oh, so that was / is the issue? Well maybe we should just exclude the dist (and all other special folders) only if they are not in `node_modules` / `typings` then? Because when you have a dist folder in your project to precompile stuff, it's gonna be indexed and duplicated :-(

W

[2016-12-02 15:50] #127 closed

[2016-12-02 16:02] #128 closed

[2016-12-03 14:22] #114 closed

[2016-12-03 14:33] buehler commented on #99
hey @cebor
I pushed a branch https://github.com/buehler/typescript-hero/tree/fix/console-auto-import.
Could you try it out if the problem still exists?

What I basically do is to sort variables before all other things. So by default, if a variable with the given name exists, it should be preselected instead of a namespace.

(console namespace declared in node.d.ts and console variable)

[2016-12-03 14:34] buehler commented on #99
As a side note: I'm doing a release with the newest feature (implement interface / abstract class), so this is gonna be in a bugfix release if it's resolved.

[2016-12-03 19:41] michaeljota commented on #114
OMG! Thanks you! :D

[2016-12-04 10:50] gund commented on #79
Hi, I also experiencing this issue however my "Resolve" icon is not burning - it is just "okay".
And here's what I found in the output:

[code]

Every time I hit Reindex - this error above pops up in the output.
I also tried to reinstall VSCode and remove all other extensions but still having this issue.

Can anyone assist me what it can be?

Thanks.

[2016-12-04 14:45] buehler commented on #79
Hey @gund
This seems to be an issue with the indexing process. Thanks for the error description, I'll have a look into that

[2016-12-05 07:05] buehler commented on #79
hey @gund
do you experience this error with certain code ? I cannot find the error :-/
Everything there (where your stacktrace points) is checked for null / undefined code parts

[2016-12-05 07:30] buehler opened #136 "Refactoring of interface / class structure in TsDeclarations"
Refactor class structure of tsDeclaration

Since there are more and more things to add to the declarations, an interface structure would be much nicer since the extension of interfaces is very simple

[2016-12-05 07:43] gund commented on #79
Hi @buehler,

I'm working on angular2 project with all it's dependencies plus NgRx, NgBootstrap, HMR.
Also I have some @types for TS like angular(v1), jasmine.

I was trying to set a breakpoint just before it fails to see a call stack but was unable to pause there for some reason.

If you know how to debug you can tell me and will try to give you more info about it.

Thanks.

[2016-12-05 07:46] buehler commented on #79
Well the easiest way to debug it, would be:
- check out the repository
- do all the installing stuff (npm / yarn / whatever install)
- open the folder with vscode
- `npm run compile`
- debug it with vscode (you can generate the launch.json by vscode for `extension development`)

This way, a new vscode window will open with your debugger attached and a message appears that this code will overwrite

[2016-12-05 07:52] gund commented on #79
Thanks, I will try to look at it and get back to you with result.

[2016-12-05 09:39] buehler opened #137 "Optionally run formatter for generated code"
#### Feature `format generated code`

After generating some code (e.g. with implement interface feature), it could be cool to (optionally) run the `format selection` command. so it would autoformat just the generated code.

#### Reason

It could beat some issues with editor config files and other stuff. But it must only format the newly generated code, not the whole file.

[2016-12-06 07:59] #103 closed

[2016-12-06 07:59] #105 closed

[2016-12-06 08:07] buehler commented on #9
Close due to better described issues :-)

[2016-12-06 08:07] #9 closed

[2016-12-06 08:09] buehler opened #139 "Generate constructor for class"
#### Feature generate constructor

Generate a class constructor out of the property that are defined in the class

e.g.
[code]

[2016-12-06 08:10] buehler commented on #139
Reference to #9

[2016-12-06 08:12] buehler opened #140 "Generator getter / setter for properties"
#### Feature generate getter / setter

- Generate getters for properties
- Second option to generate getters *and* setter for properties

[code]

[2016-12-06 08:12] buehler commented on #140
Reference to #9

[2016-12-06 08:14] buehler commented on #129
Hey @cybertim
May I close this discussion?

I'm happily waiting for your PR ;-)

[2016-12-06 08:22] cybertim commented on #129
Ah yes this can be closed.
I think i'm going to experiment with the AST generation first in ts toolbox so eventually solving these resolving/path/typing location issues will be more universal and easy to use in a PR and maybe even more modular so it can be used with hero like a module or something so we are not getting to many fragmented projects doing/trying the same thing, but I have to dive in

[2016-12-06 08:30] buehler commented on #129
Hehe alright ;-)
As I mentioned, we can join forces ;-)
We could merge the extensions into one IDE extension to help developers around the world. I've got plans for property and constructor generation as well.

Thanks for the effort!

[2016-12-06 08:30] #129 closed

[2016-12-06 11:11] buehler opened #141 "Code generator (methods) should add optional params"
#### Description

Optional parameters are ignored in "implement from interface" action

[2016-12-07 07:14] gund commented on #79
Hi @buehler,

I was able to debug your extension on my project and funny thing is when I open it in vscode with debugger connected there is no exception happening,
However if I just open a project (without debugger) I still see that error in the console.

I even tried to stop on all exceptions but still was not able to catch that,
Very weird situation =)

Do you have any idea how can I try to catc

[2016-12-07 15:12] litera opened #142 "Feature suggestion: Provide a configuration option for relative/absolute import paths"
<thank you for using and contributing to typescript hero>
<please fill the information below to ease up the process>
<you may event implement it and send a PR which would be very appreciated>

#### System information

- OS: Windows 10 x64
- TypeScript Hero version: 0.11.0
- VSCode version: 1.7.2

#### Feature: Configurable absolute/relative import paths

Auto-generated imports always seem to provi

[2016-12-08 08:42] megaboich commented on #142
I support this request. Also it is a bit wrong when I already have imports for some entities from one module with absolute path, and then via plugin I add a some other entities from that module then plugin adds another import with relative path.

I think this behavior I would like the most:
1. If 'ts.config' has the 'baseUrl' configured then plugin should use absolute paths.
2. If the requested fi

[2016-12-08 08:43] megaboich commented on #142
Just noticed that this is kind of duplicate of this
https://github.com/buehler/typescript-hero/issues/130

[2016-12-08 14:27] jrieken opened #143 "High load in extension host"
We have identified[1] this extension as cause for high load in the [extension host](http://code.visualstudio.com/docs/extensions/our-approach#_stability-extension-isolation). That's the process *all* extensions share and doing computational expensive operations in there is unfair towards other extensions. We recommend to perform CPU-heavy operations like parsing, building indices, etc in a languag

[2016-12-09 17:32] maxisam commented on #79
![image](https://cloud.githubusercontent.com/assets/456807/21057900/1bd72e46-be01-11e6-8343-e17abfac3b73.png)

Here is my error. It is just like @gund 's error

If I exclude node_module folder, it works fine.

[2016-12-09 19:52] gund commented on #79
Hey @maxisam, thank you for info, will definitely try it and post back with the result.

[2016-12-09 20:20] maxisam commented on #79
@buehler so I get to the bottom of this. It turns out

Here is the line cause the issue.

`export declare function toString(value: any): string;`

from (util.d.ts)[https://github.com/ng-bootstrap/ng-bootstrap/blob/master/src/util/util.ts]

[2016-12-10 10:43] buehler commented on #79
Hey @maxisam
Hmm thanks, I'll have a look into it :-)

[2016-12-10 10:47] buehler commented on #143
Hey @jrieken
Alright, thank you! I assume this load is occuring because of the filewatcher?
I'll definitly have a look into it

[2016-12-11 12:34] yannbf opened #144 "Ignore certain folders for imports"
#### Feature Ignore certain folders for imports

Title says it all

#### Reason

First of all, I really like what has been done with this extension.
But there is one thing that I don't like. I'm using it with ionic 2 and there is always that .tmp folder in the middle of imports. I want to ignore that, therefore, making anything related to that temporary folder to not show in imports. I was trying

[2016-12-11 19:16] buehler commented on #144
actually, you just can write ".tmp" to ignore the folder. I just check for the names. This is a good feature request, to ignore patterns with glob style.

[2016-12-11 19:28] buehler commented on #144
I'm closing this issue as a "non issue" since it is possible to ignore it, but I'll open another one for the glob feature.

[2016-12-11 19:29] buehler opened #145 "Add glob recognition to ignorePatterns"
#### Feature Glob-Ignore

Enable glob style patterns to ignore certain pathes from the index
Reference: #144

[2016-12-11 19:29] #144 closed

[2016-12-11 19:30] buehler commented on #143
Addition: do I get you right, you have a "server - part" in your extension,  that is loaded and communicates with the normal extension through this host process?

[2016-12-12 09:35] jrieken commented on #143
re https://github.com/buehler/typescript-hero/issues/143#issuecomment-266199519 - File watching already happens in a separate process so I believe the problem is [here](https://github.com/buehler/typescript-hero/blob/master/src/caches/ResolveIndex.ts#L125). Imagine starting of a large project of 1000 files. You will find, load, parse, and post process all of them which is likely to max out the ext

[2016-12-12 09:36] jrieken commented on #143
re https://github.com/buehler/typescript-hero/issues/143#issuecomment-266301878 - Yes. That it is

[2016-12-13 03:33] jbbr opened #146 "Make end-of-line semicolon emit configurable"
I request a settings flag to disable semicolons in the code generated by this extension.

Thanks to ASI it's absolutely valid JavaScript & TypeScript if semicolons are omitted.
Some quite popular JS projects do not use semicolons (e.g NPM) and some code styles recommend this (e.g [StandardJS](https://github.com/feross/standard))

Having to remove semicolons manually after every "organize" and "add

[2016-12-14 06:30] #146 closed

[2016-12-14 06:42] buehler opened #148 "Upgrade code to TS2.1"
#### Description

Upgrade the compatibility to TS 2.1 (#147)

This is a breaking change and will break compatibility prior to ts 2.1!

[2016-12-15 10:46] cebor commented on #99
@buehler seems to be fixed in the latest version, dont had time to test the branch.

[2016-12-15 11:07] buehler commented on #99
@cebor Alright, I'll merge the branch anyway, since I'm working on a angular2 project right now, I'd experience it as well..

[2016-12-15 13:08] nwolverson opened #149 "Organise imports removes too much"
<thank you for using and contributing to typescript hero>
<please fill the information below to ease up the process>
<you may event implement it and send a PR which would be very appreciated>

#### System information

- OS: Win7
- TypeScript Hero version: 0.11.0
- VSCode version: 1.8.0

#### Description

When editing a TSX file, organise imports command removes the `React` import which is required

[2016-12-15 23:46] thekalinga opened #150 "Enable setting to auto organize"
<thank you for using and contributing to typescript hero>
<please fill the information below to ease up the process>
<you may event implement it and send a PR which would be very appreciated>

#### System information

- OS: Ubuntu 14.04
- TypeScript Hero version: 0.11.0
- VSCode version: 1.9.0-insider

#### Feature Auto organize

Instead of remembering to add shortcuts, it would be better for user

[2016-12-19 19:06] noelklein commented on #79
I'm having the exact same problem since I added ng-bootstrap to my angular 2 project. Any way I can help out to get this resolved?

[2016-12-20 07:55] gund commented on #79
I added to `.vscode/settings.json` next config:
[code]

But still got the error described above.

[2016-12-20 17:27] maxisam commented on #79
@gund  That is not what I did. You wanna try my workaround ?

[2016-12-20 17:29] gund commented on #79
@maxisam, sure, can you explain where I need to add that line you posted above?
Thanks

[2016-12-20 17:38] maxisam commented on #79
It should be in your setting.json. find files.exclude and add that line

On Tue, Dec 20, 2016 at 11:29 AM, Alex Malkevich <notifications@github.com>
wrote:

[2016-12-21 05:20] gund commented on #79
Ok, I will add that line since I hadn't `files.exclude` there before =)

[2016-12-21 05:27] gund commented on #79
I've tried what you said but still got same error in console and no commands are executable =(

[2016-12-21 06:15] maxisam commented on #79
That is odd. Do you reload the window ?

[2016-12-21 06:18] gund commented on #79
I did window reload and also full restart of vscode and nothing changed. Maybe there's also some library that causes it.

[2016-12-21 06:39] buehler commented on #79
Mhmm.. as a veeeery (like _veryvery_) dirty hacky workaround, you could just comment out (or delete) the dependency in your `package.json` but leave the package installed. The extension whitelists packages to index via the dependencies or devDepenedencies if there is a package.json file.

[2016-12-21 06:41] buehler commented on #79
@noelklein Is already helps that `ng-bootstrap` causes some trouble. If you find the time to debug some app code, that would be very nice, to point into the right direction :-)

[2016-12-21 15:44] noelklein commented on #79
maxisam's workaround worked for me, so going with that until after the holidays.

[2016-12-21 23:01] lilling commented on #86
@buehler I work on vscode about 8 months give or take and I ran into this problem just a few days ago...
I run npm install and vscode freeze. only when I restart vscode the npm install run smoothly..

[2016-12-22 15:32] buehler commented on #148
Actually it's not breaking since all enums are compiled to numbers

[2016-12-22 15:42] #148 closed

[2016-12-22 15:55] #99 closed

[2016-12-22 17:37] buehler commented on #79
I did push a branch with a possible solution: https://github.com/buehler/typescript-hero/tree/fix/ext-crash

I hope this prevents those crashes 😐

[2016-12-23 07:59] gund commented on #79
Hi @buehler, thanks for the update.
I will surely test that branch, probably in about 2 days as I will need to access that codebase where it has problems.

Thanks for your work!

[2016-12-23 11:28] buehler commented on #79
I've got some ideas, maybe it's just happening when there is a big codebase. I need to rethink this maybe (how the extension generally handles this index)

[2016-12-25 07:59] gund commented on #79
Hi @buehler, I was able to run code on your fix branch ans got next Error:
[code]

Actual error comes from line 390 at src\caches\ResolveIndex.ts.
Here is the latest state of variables just before crash (in JSON):

`from`:
[code]

`declaration`:
[code]

`key`:
[code]

`resource`:
[code]

`index` contains circular structure so is not possible to convert to JSON but obviously it does not contain `de

[2016-12-26 15:07] Ventajou commented on #149
I too have a disappearing `import` statement, in my project when using that feature. I have an `app.ts` file at the root of the project which exports a default variable called `app`. Most of my files have a line as such:

    import app from '../app';

and when I use the Organize feature, that one line disappears each time...

[2016-12-29 07:03] johnfn opened #154 "Preserve case of file during auto indent"
First and foremost, thanks for the awesome extension, man! Auto-import saves me 5-10 headaches a day. 😉

Anywho.

Believe it or not, require.js has a bug where it treats "myFile" and "myfile" as two separate imports. Crazy? Yes. Terrible? Yes. BUT, we deal with it! 😉

It would be really nice if the auto imports from TypeScript Hero would preserve the casing of the file, rather than lowercasing the

[2016-12-31 19:19] paustint opened #155 "Cannot open command GUI after new install"
#### System information

- OS: ODX Sierra 10.12.2 (16C67)
- TypeScript Hero version: 0.11.0
- VSCode version: 1.8.1

#### Description
I have tried to install this extension on two different OSX machines and have not successfully been able to open the command gui on either one, with the following error message being displayed when trying to open the GUI:

`Error: "Cannot convert undefined or null t

[2017-01-03 06:38] buehler commented on #154
Hey @johnfn

Thanks for your words!

That's a pretty strange behaviour.. do you use namespaces in files? or does auto organize cause the lowerspace filenames?

Cheers

[2017-01-03 06:39] buehler commented on #155
😱

What codebase do you have? `ng-bootstrap` by any chance?

[2017-01-03 06:42] buehler commented on #79
@gund
Thank you very much! I don't know if I'd ever thought about that... !

Happy new year!

[2017-01-03 07:27] buehler commented on #155
This could be related to #79

[2017-01-03 07:33] buehler commented on #155
Update... this is related to #79. already saw this error

[2017-01-03 07:34] #155 closed

[2017-01-03 07:34] #79 closed

[2017-01-05 01:36] cgatian commented on #149
It would be nice if you could specify a pattern for organization.

Personally, I like node specific modules first, followed by a line feed, and then all local application imports.

[2017-01-07 12:08] buehler opened #158 "Implement interface code help does not find generic interfaces"
#### System information

- TypeScript Hero version: 0.12.0
- VSCode version: 1.8.1

#### Description

When using the `light bulb` feature to automatically implement abstract classes / interfaces, any generic interfaces are not found in the index (most likely a problem with the regex)

[code]

in this scenario the message "Could not find Foobar<string> in the index or any file" appears.

[2017-01-08 10:23] CoenraadS opened #159 "Feature Request: Weighted Ordering of potential imports"
#### Weighted Ordering of potential imports

Currently potential imports are listed alphabetically
![image](https://cloud.githubusercontent.com/assets/5593825/21748999/4926f96c-d594-11e6-9b98-a01e3d3bae42.png)

I would like an option of change the weight of the results.

imo a better solution would be:

Priority 1 => Exact name matches

When there are multiple exact name matches:
Priority 2 => Mos

[2017-01-08 11:22] CoenraadS opened #160 "QuickFix Lightbulb not showing"
#### System information

- OS: `Windows 10`
- TypeScript Hero version: `0.12.0`
- VSCode version: `1.8.1`

#### Description

![image](https://cloud.githubusercontent.com/assets/5593825/21749311/a323ff8e-d59c-11e6-9cca-48187a6aacb4.png)

Here I have a class that implements an interface. When I click on either the Class or the Interface, no lightbulb shows in the margin and I cannot quickfix to impl

[2017-01-08 14:48] CoenraadS opened #161 "Feature Request: Disable prompting for variable name"
#### Disable prompting for variable

It would be nice to have an option to disable the variable name prompt, and just use the default exported name.

#### Reason

Less user actions for people who only use the default names.

[2017-01-08 15:36] buehler commented on #159
it's a good purposal but very hard to achieve ;-)

[2017-01-08 16:09] CoenraadS commented on #159
I just realized I was using `resolve.addImport` instead of `resolve.addImportUnderCursor`, which works much better for what I wanted. 👍

[2017-01-08 16:09] #159 closed

[2017-01-09 16:32] bryanrideshark opened #163 "File names with preceeding underscore are not properly imported"
#### System information

- OS: Windows 8.1
- TypeScript Hero version: 0.12.0
- VSCode version: 1.8.1

#### Description

When a type definition exists in a file with an underscore in the name, TypeScript Hero does not inject the proper name:

[code]

##### Steps to reproduce

1. Create a type definition in a file which is prefixed with an underscore
2. Try to use TypeScript Hero to import that defi

[2017-01-10 04:27] johnfn commented on #154
My mistake - I think this was a bug in VSCode rather than your plugin!

[2017-01-10 04:27] #154 closed

[2017-01-10 19:19] Anjmao opened #164 "Add includePatterns setting"
I'm using angular with angular-cli and because of angular-cli I have hundreds of node modules. Due to this I added whole node_modules to ignore patterns because it takes few minutes to index all files. In want to index only my src files and angular modules like angular/htpp angular/router ... I think it would make sense to add setting called `includePatters` for this scenario. I can implement it a

[2017-01-11 11:49] asfernandes commented on #86
I'm seeing vscode 1.8.1 freezing after run npm or yarn in external terminal in Windows.

[2017-01-11 12:52] buehler commented on #164
Hey @Anjmao
Actually this is a nice idea!
If the `includePatterns` does interact correctly with `ignorePatterns` this would be awesome.

How about the following rules:
1. if nothing is configured, everything from node_modules is added
2. Include patterns do select stuff for include in the index
3. if ignore patterns are configured, they exclude stuff
4. if both are configured, only stuff that is i

[2017-01-11 12:54] buehler commented on #163
Hmm.. this error only happens to files that are named `index` (as I'm aware of)

Since index files are used to require folders. I think the check needs to see if the whole filename is just `index.ts`

[2017-01-11 20:36] jonscottclark commented on #97
I'd also like to see any automagically added imports added to the bottom of the list, but it should definitely be something configurable.

[2017-01-12 17:36] buehler commented on #143
@jrieken: I got a small question, is it possible to use service workers instead of the language-server?  Would that solve the high-load problem? (just wondering)

Cheers

[2017-01-12 20:46] jrieken commented on #143
There are no service workers or web workers, the context you are in is nodejs. And yes, the language server protocol allows to send/receive any kind of message in addition to the well known messages

[2017-01-12 21:05] buehler commented on #102
I got an idea for configuration:

[code]

the order would be like the ordering in the array. now possible keys are:
`modules` which are basically all imports from `node_modules`
`plains` as you purposed, are the side-effect only imports `import 'reflect-metadata';
`workspace` which are the files that are imported from the local workspace
`others` (which will be implicit at the end, if not defined)

[2017-01-12 21:11] Anjmao commented on #164
Ok I will implement this and create pull request :)

[2017-01-13 13:53] michaeljota commented on #102
I like your proposal. It's clear and intuitive. 👍

BTW: You have a typo
workspace `which are the files that are imported from the local workspace` others` (which will be implicit at the end, if not defined) which identifiers the rest, that is not grouped anyhow.

I guess should be:
`workspace` which are the files that are imported from the local workspace
`others` (which will be implicit at the en

[2017-01-13 14:11] buehler commented on #102
Thanks :-)

yea.. a purposal for the default could be:
[code]

all in normal alphabetical order

[2017-01-14 21:05] Anjmao commented on #164
@buehler I'm trying to run tests and have some issues. Command `npm test` is working but a lot of tests are failing for me. I saw there is folder `_workspace` under test folder, but this folder is not copied to `out/test`. In tests I see usage of `vscode.workspace.rootPath`
[code]
 and `vscode.workspace.rootPath` returns path to `/Users/anjmao/sources/typescript-hero/out/test`

`npm test` command

[2017-01-15 10:30] buehler commented on #164
Hey @Anjmao
Yea that seems like an error in the launch configuration. Maybe they changed some logics there. Here's what I've configured locally (and it does work):

`launch.json` in the .vscode folder

[code]

[2017-01-18 15:52] buehler commented on #143
Hey @jrieken
I got a question regarding the server part implementation. Is it possible to use `vscode` as a package in the server implementation?

i.e. can I do: `import { Range } from 'vscode';` and then `let foobar = new Range(/*...*/);`

Right now, when I try to do that, the server dies and tells me the module "vscode" is not found. Is it because it is linked via `npm link` or because the vscod

[2017-01-18 16:55] jrieken commented on #143
Yeah, the `vscode` package is very special. We make it look like an npm module but in reality it is something very dynamic we get to you [hijacking](https://github.com/Microsoft/vscode/blob/master/src/vs/workbench/api/node/extHost.api.impl.ts#L544) node's require...

Having said that, I know that @aeschli maintains a node module that contains most of the business objects like Range, Position et al

[2017-01-18 17:02] buehler commented on #143
Alright, I'm going to have a look at that package, thanks for pointing that out!
This "problem" of the high load, triggered a major refactoring. In a good way.

By the way, I like the line where you hijack the node loader 😂

[2017-01-18 19:00] aeschli commented on #143
The node module is called vscode-languageserver-types, it contains all the base type of the language server, including 'Range'

[2017-01-19 05:24] buehler commented on #143
Hey @aeschli
Thank you for pointing that out, I'll have a look at it.

[2017-01-24 19:32] superamadeus opened #165 "[FEATURE REQUEST] Setting to disable tool-tip import suggestions from appearing while typing."
#### Feature: Disable tool-tip from auto appearing while typing.

Enable the option to disable the tool tip from appearing while typing, and opt to only use it manually (via key-combination or clicking).

#### Reason

Sometimes I have no intention of importing something while typing, and the import suggestions come up, and I accidentally import something. One example I run into a lot is when defin

[2017-01-30 08:23] sevaru commented on #149
Organize imports removes ListViewModel import for some reason.
I guess it's related to default exports/imports
[code]

[2017-01-30 16:13] buehler commented on #165
Hey @superamadeus
Actually, that would be a feature of vscode itself. As I'm aware of, you can disable the auto completion to open on typing.

Search for `suggest` in your settings: https://dl.dropboxusercontent.com/spa/agn3r6rkwi4rxn7/8mmqfjya.png

[2017-01-31 09:04] ilivit opened #166 "Remove unused imports without sorting"
#### Feature: Organize imports only by removing unused ones

Enable an option for cleaning the imports without changing their order.

#### Reason

Sometimes I want to preserve the order of the imports for a reason (i.e. keep same kind of imports together). It would be great to have the ability to do that kind of organization.

[2017-02-02 14:09] superamadeus commented on #165
Thanks for the suggestion @buehler.

I didn't want to give up autocomplete all-around, so I found another option to help solve this problem: disable suggestion acceptance on "." (period key).

If anyone else wishes to do this, add this to your keybindings:
[code]

[2017-02-02 16:22] buehler commented on #166
Actually a good idea. :-) I'm currently refactoring the whole application due to #143

But this is definitly a todo for after the rewrite.

[2017-02-04 17:16] thekalinga opened #167 "Components generated using angular cli are not indexed unless changed manually"
#### System information

- OS: Ubuntu 14.04
- TypeScript Hero version: 0.12.0
- VSCode version:

Version 1.10.0-insider
Commit 723b20093d2f525e84cdf94a52f7695d1d539273
Date 2017-02-03T07:02:18.522Z
Shell 1.4.6
Renderer 53.0.2785.143
Node 6.5.0

#### Description

Components generated using angular cli `ng g c home` are not shown in the auto suggestions of other files, unless I manually edit HomeCom

[2017-02-06 06:41] buehler commented on #167
Thank you for the report! I'll have a look into that matter as soon as the rewrite of the extension is done :-)

[2017-02-06 10:47] dukearena opened #168 "Feature - Import Sort Order"
#### System information

- OS: Windows 10
- TypeScript Hero version: 0.12.0
- VSCode version: 1.9.0

#### Feature "Import Sort Order"

Would it be possible to auto sort imports first from node_modules, then from my project?
Best choise should be a new setting called "typescriptHero.resolver.importSort" with the following choices:
- NodeModuleFirst
- ProjectFirst

e.g. **NodeModuleFirst**
import {

[2017-02-08 06:31] buehler commented on #165
@superamadeus Thanks! I actually was looking for such a config. Did not know that is possible.

I checked, I cannot disable certain characters from accepting code completions, one has to do it with your configuration.

[2017-02-08 06:31] #165 closed

[2017-02-08 06:33] buehler commented on #168
hey @dukearena
Thanks for the suggestion, the naming may be a bit off, but this is a duplicate of #102

Cheers

[2017-02-08 06:33] #168 closed

[2017-02-08 15:02] thekalinga commented on #161
@CoenraadS Where does it ask for variable name?

[2017-02-08 15:34] thekalinga opened #170 "Allow user to create class/property/method if the symbol is not found"
#### System information

- OS: Ubuntu 14.04
- TypeScript Hero version: 0.12.0
- VSCode version:

Version 1.10.0-insider
Commit ad605ea39a832e4be2cbf77670781654056ef027
Date 2017-02-06T07:18:03.226Z
Shell 1.4.6
Renderer 53.0.2785.143
Node 6.5.0

#### Feature Quick fix for creating new class, new property & method

Currently if the symbol is not found, we only see an error saying the symbol is not f

[2017-02-08 15:49] CoenraadS commented on #161
![image](https://cloud.githubusercontent.com/assets/5593825/22744727/7eb0a112-ee1e-11e6-9cc1-ea9ccc87f4b8.png)

[2017-02-09 06:36] buehler commented on #170
That is a very good idea. This is one of the features I want to provide in the future. First I need to finish the rewrite and some other things, but this one is definitely on the list.

[2017-02-09 06:38] buehler commented on #161
Humm.. https://github.com/buehler/typescript-hero/blob/master/src/managers/ImportManager.ts#L382-L408

The structure of those "managers" will remain the same, even after the rewrite.

[2017-02-09 10:02] casperno commented on #130
I second the request for a configuration to choose between relative/absolute import paths.

[2017-02-09 13:32] xblox opened #171 "Extension host terminated unexpectedly. Please reload the window to recover."
Hi,
when using your extension, it will crash VSCode after a few minutes. I think its because of too many files or so. See [here](https://github.com/Microsoft/vscode/issues/13781) a related issue.

I tried all sorts of things, latest VSCode/VSCode-Insiders , same for typescript versions. My folder has 813851 files.

[2017-02-09 13:33] xblox commented on #171
ah, fully forgot the fix : after removing your extension: all good again

[2017-02-09 13:47] buehler commented on #171
:-/
Hopefully the rewrite will fix those issues :)

[2017-02-09 15:10] xblox commented on #171
yeah, no worry, wasnt using it

[2017-02-09 15:10] #171 closed

[2017-02-10 05:58] thekalinga commented on #170
I think we can close this issue as typescript is planning on fixing this in 2.3

https://github.com/Microsoft/TypeScript/issues/13071

Also, the auto import feature is also included as part of 2.3 milestone.

https://github.com/Microsoft/TypeScript/milestone/38

[2017-02-10 07:28] buehler commented on #170
@thekalinga Thank you for checking out. Sadly, they "planned" it for like 1 year or so. :-)

As soon as the ts-server can provide the same thing, I just switch off the feature.

[2017-02-10 09:24] HimmetAvsar commented on #149
Got the same issue. When i use ctrl+alt+o some used imports are always removed.

import ConfigService from "../modules/ConfigService";
Configservice exports default class.

[2017-02-11 04:35] thekalinga commented on #170
@buehler Looks like the auto import for symbols within the project (not sure about `node_modules`) seems to have a new pull request.

https://github.com/Microsoft/TypeScript/pull/13921

[2017-02-15 16:35] RPDeshaies opened #172 "Does not index typescript modules"
<thank you for using and contributing to typescript hero>
<please fill the information below to ease up the process>
<you may event implement it and send a PR which would be very appreciated>

#### System information

- OS: Windows 7
- TypeScript Hero version: 0.12.0
- VSCode version: 1.9.1

#### Description

Typescript Hero doesn't index module so it does not recognize when I export a module and

[2017-02-18 20:14] CoenraadS opened #173 "Crash when debugging extension"
#### System information

- OS: `Windows 10`
- TypeScript Hero version: `0.12`
- VSCode version: `1.9.1`

#### Description

##### Steps to reproduce

1. Debug an extension
2. In the vscode window running under the debugger, open a project folder with an invalid project.json (e.g. `{a}`)
3. Observe crash in the parent vscode

__awaiter (c:\Users\Coenraad\.vscode\extensions\rbbit.typescript-hero-0.12

[2017-02-18 20:18] CoenraadS commented on #173
Making a new issue, I think I figured out the problem

[2017-02-27 04:14] ricklove opened #174 "Plans for Community Typescript Extensions Repo"
This is great!

But I think we all need to join forces and make it even better!

There are a few patterns I have found myself repeating often in typescript and I missed some of the refactoring tools I had in Visual Studio with C#.

I was thinking about creating my own extension to speed up my own coding, but of course I wanted to find existing projects first.

Here are a few I have found:

- Types

[2017-02-27 11:37] magnattic commented on #86
I have the same problem with Windows 10, VSCode 1.9.1 and TS Hero 0.12.0.

When I run npm install from the console, VS Code hangs and can only be recovered by closing it. When I disable TS hero, it works.

[2017-02-27 15:47] buehler commented on #174
Hey @ricklove

Basically I love the idea! I would really love to see a cool developer experience grow from all those different projects. Actually with TypeScript 2.2, the whole auto import thing will kind of die, since they introduced some things that I implemented. But the good thing is, we could start add cool stuff.

As of now, some things are still missing in the typescript server; when one ty

[2017-02-27 17:27] ricklove commented on #174
Ok, cool.

That would be great to see what you think is an ideal architecture.

I was thinking that a higher level architecture could be created that would allow the same refactorings to work in vscode and other editors (abstracting away specifics of each editor and building a set of refactoring utilities).

Also, it would be cool if there is something like the json snippet editor for refactorings

[2017-02-28 06:38] buehler commented on #174
Hey @ricklove

This could get awesome :-) Well IMO the first step would be to kind of split up typescript hero. So we actually could make a nodejs-package out of the whole parsing / indexing part (especially the TypescriptParser and the reverse-index of the declarations). With that package, we could think about abstraction layers (interfaces) that could abstract an editor und would need to be impl

[2017-02-28 13:02] ricklove commented on #174
Nice. Typescript Heroes is perfect.

I hadn't thought of ES6. Hopefully since Typescript is just a superset of ES, it won't be hard to use the typescript toolchain for both.

In fact you just gave an idea for some ultimate refactorings:

Upgrade to Typescript (ES5/6->Typescript ES7):

- Typify everything
- Flatten promises/then/catch -> async/await/try/catch
- Upgrade ES5 code to this era (let, co

[2017-02-28 14:00] buehler commented on #174
Cool ideas! 👍

Actually, I just tried, we can throw normal javascript (ES5/6) at the typescript parser, and it will generate the correct AST and declarations. So basically, a first step to a cool architecture would be to split the core (parsing / reverse index) of tsh out and create a separate package. With that implement typescript hero for vscode and possible other extensions for other editors o

[2017-02-28 15:08] ricklove commented on #174
Yeah, sounds good.

How long do you think it will take you to finish the rewrite?

In the mean time, it might make sense to begin a discussion in the community and start inviting people to that discussion

[2017-03-01 08:59] buehler commented on #174
Well, depends heavily on the spare time I got to work on it. But at least two weeks or so. I'm nearly at feature parity but well :-) it needs time.

For the other topic, absolutely! We should start invent the creators of the other extensions and bring them on board.

[2017-03-07 14:12] lucasbasquerotto opened #175 "Duplicate and Wrong Imports"
#### System information

- OS: Windows 7
- TypeScript Hero version: 0.12.0
- VSCode version: 1.10.1

#### Description

1) When I execute the command to **add all missing imports** in a page (even if the page has no errors) that has `@Component({ selector: 'my-selector' ... })` it tries to import the `selector` from `rxjs` (`rxjs/operator/multicast`), and this is completely unrelated, because the `

[2017-03-10 09:16] KirillMetrik opened #176 "Anything like this for Visual Studio?"
Hello, thanks for the great tool but would like to ask whether there are any plans to do something similar for normal Visual Studio (not vscode)? In our project we still use Visual Studio because server part is on .Net.

[2017-03-20 18:25] kieferrm commented on #86
@techy2493, @asfernandes, @magnattic, @lilling, @ktriek has any of you a public github repo that shows the freezing issue? Also, on what platform do you see it.  We are looking into how extensions could cause VS Code freezes/crashes in the context of https://github.com/Microsoft/vscode/issues/22804.

[2017-03-20 18:47] ktriek commented on #86
@kieferrm the issue seems to be resolved after updating VS Code to the latest version, I have 1.10.2 installed / Windows 7.

[2017-03-20 20:59] el-davo commented on #86
Seeing the same when doing a an install with yarn. Also hangs when i use a separate terminal outside vscode

[2017-03-23 10:24] buehler commented on #176
Hey @KirillMetrik
I'm sorry, my "good old VS" days are more or less over :-)

I don't have any plans to port this software to VS.
Nevertheless, we are planning a community for TypeScript IDE improvements, so maybe there will be a chance, somebody will port it.

Cheers

[2017-03-23 10:24] #176 closed

[2017-03-25 09:41] lucap86 opened #177 "Request: Aliases import"
#### Feature: Aliases import

I've organized my project in namespaces and i have to manually import aliases every time.
This really annoying me.
Is it possible to implement both auto-import and alias import by keyboard shortcut with cursor over symbol?

For instance in intelliJ or webstorm environment i can easily auto import an alias with alt+enter if cursor is over the symbol/class/type i want t

[2017-03-28 23:00] cvharris opened #178 "Duplicate folder path for Angular-specific imports"
<thank you for using and contributing to typescript hero>
<please fill the information below to ease up the process>
<you may event implement it and send a PR which would be very appreciated>

#### System information

- OS: Mac OSX El Capitain
- TypeScript Hero version: 0.12.0
- VSCode version: 1.10.2

#### Description

When I import Angular modules an extra/duplicate folder path is added to the i

[2017-03-31 09:48] DuncanFaulkner commented on #178
I'm seeing the same thing
Image showing the issue
![typescript-issue](https://cloud.githubusercontent.com/assets/1952116/24545575/8b9089ca-15ff-11e7-9313-bedfd2505557.png)

[2017-04-04 21:40] axefrog opened #179 "Spaces still inserted around imports even when disabled in settings"
<thank you for using and contributing to typescript hero>
<please fill the information below to ease up the process>
<you may event implement it and send a PR which would be very appreciated>

#### System information

- OS: Windows 10
- TypeScript Hero version: 0.12.0
- VSCode version: 1.10.2

#### Description

I don't want spaces around my imports, and I've disabled that setting, but it's still h

[2017-04-05 06:39] buehler commented on #179
Hey @axefrog
Actually this is the feature that is given to you by typescript and vscode itself. VSCode introduces those "autoimport" features as well. They only have some down-sides until some further updates:
- They use " instead of ' (not configurable, last time I checked)
- They only can auto import something that has been imported at least once.

Sadly, TSH did not recognize your package :-(

[2017-04-05 06:39] #179 closed

[2017-04-05 12:04] Deilan opened #180 "Make quotation marks being used configurable"
Right now the extension automatically uses double quotation marks:
[code]

It would be great to allow usage of single quotation marks also:
[code]

[2017-04-05 16:15] buehler commented on #180
Hey @Deilan
This is configurable. What you're using is the auto-import feature of typescript 2.2 and the microsoft guys just add the double quotes.

There is an issue open over there to solve this. My extension does use the configured ones.

[2017-04-05 16:15] #180 closed

[2017-04-11 22:59] johanroug commented on #178
I am also seeing the same problem.
it writes this
`import { RendererType2 } from '@angular/core/core';`
but should write this
`import { RendererType2 } from '@angular/core';`

[2017-04-12 06:44] buehler commented on #178
@johanroug Yea.. sadly the angular team somewhat changed their description (d.ts) format...

[2017-04-12 06:46] buehler commented on #174
Alright, yesterday I was @ microsoft (switzerland) and had a cool talk with johannes rieken (developer with microsoft)

Actually there is a plan to get some extensions into the ts-server (the part that parses the files etc.) much like you can write extensions for the roslyn compiler.

So instead of pulling my hair of with further rewriting the whole extension, I'll wait for the ts-server part and

[2017-04-17 12:54] XcyTheR101 commented on #178
Also getting this. Any way to maybe change some settings file to cater for this until the problem is resolved?

[2017-04-18 12:55] jrieken opened #181 "Make use of tsserver plugin infrastructure"
Recent versions of TypeScript allow third parties to plug in to it and to reuse data structures like syntax trees and to use the type checker for more semantics. A sample is provided here: https://github.com/RyanCavanaugh/sample-ts-plugin. It would be pretty sweet if this extension hooks into the tsserver as plugin which mean write less code, reuse more code, and be available everywhere where tsse

[2017-04-19 08:56] flubbes commented on #107
It seems like this issue is related to the one I'm having. I hope this will provide more information on how to fix this.

I have set up a repository for reproducing the possible misbehavior under [flubbes/TypescriptHeroBarrelMisbehavior](https://github.com/flubbes/TypescriptHeroBarrelMisbehavior)

Thanks in advance

[2017-04-19 13:54] ArnoutPullen opened #182 "Feature suggestion: 'resolve.addMissingImports' import angular modules too"
<thank you for using and contributing to typescript hero>
<please fill the information below to ease up the process>
<you may event implement it and send a PR which would be very appreciated>

#### System information

- OS: Windows 10 Pro
- TypeScript Hero version: 0.12.0
- VSCode version: 1.11.2

#### Feature: Auto Import Angular Modules

When i use the following command: 'resolve.addMissingImpor

[2017-04-24 08:52] buehler commented on #181
@jrieken Thanks for pointing that out!
As mentioned in #174, this is definitely the goal to achieve. This should also rule out the performance problems and other issues.

I'll have a look at it!

[2017-04-28 15:14] ctretyak commented on #149
+1

[2017-04-28 15:15] ctretyak commented on #149
import Variables from "~/services/variables";
...

req.checkBody('password')
        .notEmpty()
        .isLength({ min: Variables.registration.password.minLength })

and after organize it remove always

[2017-05-08 12:03] harisb2012 commented on #178
Any updates to this? Also getting it.

[2017-05-09 05:21] buehler commented on #178
@harisb2012 not yet.. was at the JSConf and need to do some other stuff first :-)
But anybody feel free to investigate the d.ts files to help solve the problem

[2017-05-11 09:09] kimsy commented on #86
I am also experiencing this when i build my project with gulp. Crashes everytime. If i disable typescripthero, it works everytime. I will be willing to help out any way I can to resolve this issue

[2017-05-13 11:20] harisb2012 commented on #178
@buehler - I can confirm that https://marketplace.visualstudio.com/items?itemName=pmneo.tsimporter works just fine. I'm pretty sure it is internal typescript hero bug.

[2017-05-14 01:29] TimLiu1 opened #185 "if i use the typescript-hero,CPU utilization rate of more than 150%"
<thank you for using and contributing to typescript hero>
<please fill the information below to ease up the process>
<you may event implement it and send a PR which would be very appreciated>

#### System information

- OS:10.10.5  <operating system>
- TypeScript Hero version: 0.12.0<version>
- VSCode version:1.12.1 (1.12.1) <version>

#### Description
if i use the typescript-hero,CPU utilization

[2017-05-15 10:51] lilling commented on #86
@kieferrm the issue is not reproduced on my machine anymore.

vs code version: 1.12.1
windows 10

[2017-05-16 10:27] ofirgeller opened #186 "Detect imports that are used in tsx syntax -feature"
When I remove unused imports the imports that are used as jsx elements are removed as well.

It would be better if they are not removed.

[2017-05-18 19:50] rajjejosefsson commented on #178
Same problem here

[2017-05-22 05:24] mrcl commented on #178
@buehler, any hint where in the code to look for the issue?

[2017-05-22 10:55] Rukenshia commented on #178
Just found this issue, this is very annoying. I really love this extension but this renders the whole import stuff useless for me.

[2017-05-22 10:58] buehler commented on #178
My guess is, that the indexing process (so after the parsing) does export the stuff twice. I'm gonna have a look at it asap.

[2017-05-28 12:05] el-davo commented on #86
Version 1.12.2 fixes this for me

![image](https://cloud.githubusercontent.com/assets/11195158/26528527/38313a7a-43a6-11e7-8030-e0d9329bc377.png)

[2017-05-29 07:09] #178 closed

[2017-05-29 07:58] #166 closed

[2017-05-30 17:18] #174 closed

[2017-05-30 17:20] #86 closed

[2017-05-30 17:20] #104 closed

[2017-05-30 17:20] #107 closed

[2017-05-30 17:20] #143 closed

[2017-05-30 17:20] #185 closed

[2017-06-01 09:03] gheiler opened #192 "Add organizedExternalImportsAtTop setting"
#### Feature organizedExternalImportsAtTop

I would like to be able to choose between external imports to go at the top instead of the bottom when they are reorganized when the setting is set to true

#### Reason

I think its more important to easily see the internal imports as the external ones, so I would prefer them to be at the bottom

[2017-06-01 11:19] buehler commented on #192
Hey @gheiler
I'm currently implementing #102 which enables you to do that

Cheers

[2017-06-01 11:19] #192 closed

[2017-06-02 08:18] buehler commented on #97
Will be resolved (I hope at least) with #102

[2017-06-02 08:18] #97 closed

[2017-06-02 08:21] buehler commented on #173
Hopefully, this is resolved with the rewrite and v0.13

[2017-06-02 08:21] #173 closed

[2017-06-02 08:22] buehler commented on #186
@ofirgeller
Can you provide a code example? Never did jsx / tsx much myself

[2017-06-02 10:21] abdulkareemnalband opened #194 "ImportResolveExtension - There was an error during the build of the index."
#### System information

- OS: Windows 10 Enterprise Version 1703 build 15063.296
- TypeScript Hero version: 0.13.0
- VSCode version: 1.12.2

#### Description

Whenever I edit a typescript file `Typescript Hero Server` output window takes focus from terminal or whatever other output window i have opened in below panel
with following messages
[code]

##### Steps to reproduce

1. Open any other pane

[2017-06-02 11:44] Swiftwork commented on #194
Developer tools logs the following on save:
[code]

[2017-06-02 12:31] MickeySegal commented on #194
I see the same behavior as described by abdulkareemnalband.  It started in the past 48 hours, presumably with the 0.13.0 update.  Is there a setting that can turn off this behavior?  the following looks possibly relevant:

  // Defines the log output level in the output window.
  "typescriptHero.verbosity": "Warnings",

but I don't see any documentation of alternative settings so it is difficult t

[2017-06-02 12:48] ofirgeller commented on #186
Sure would be happy to. ill start with a short why and how it works.

JSX is a extention to JS meant to be pre-proccesed into js before running anywhere. in general it allows you to create xml/html elements in JS in a way that looks like XML and then gets converted into the equivalent JS code. usealy this means that you write less code and that the code you write is more WYSIWYG.

example of jsx s

[2017-06-02 13:01] cmaart commented on #194
+1

[2017-06-02 17:43] swimmadude66 commented on #194
+1 started happening in 0.13.0 update

[2017-06-03 08:08] buehler commented on #194
@abdulkareemnalband You can disable the log output with the setting `"typescriptHero.verbosity"` set to "Nothing".

But there seems to be an issue with the creation of the declaration index.

[2017-06-03 08:40] buehler commented on #194
Actually, as for the documentation: VSCode does provide you with the possible values of the enum that you can enter into `verbosity`.

[2017-06-03 13:44] abdulkareemnalband commented on #194
@buehler I will test this

[2017-06-03 13:54] abdulkareemnalband commented on #194
@buehler setting verbosity to nothing
 Makes issue go away

Thanks for help

But I still think it's just a work around for now

[2017-06-03 16:18] buehler commented on #194
I had a bug in the server logger :-(
I corrected it and tried the extension on my windows machine. The error is:

[code]

[2017-06-03 16:19] buehler commented on #194
the error only exists on windows 🙄

[2017-06-03 16:45] mceachen commented on #194
It looks like something is appending a drive letter twice, and urlencoding the second `c:`.

[2017-06-03 16:57] buehler commented on #194
Yep somehow :-/

[2017-06-03 17:14] alexanderromanov commented on #194
I am getting similar error messages as in original post on OS X as well

[2017-06-03 17:57] mceachen commented on #194
Upgraded to 0.13.1, getting

[code]

(where $HOME was my user home directory)

[2017-06-03 18:44] buehler commented on #194
@mceachen
Which os are you using?

[2017-06-03 21:02] mceachen commented on #194
Windows 10 home edition, Version 10.0.15063 Build 15063. vscode 1.12.2, node 7.4.0

[2017-06-04 02:42] domoritz opened #200 "ImportResolveExtension - There was an error during the build of the index."
#### System information

- OS: Mac OS
- TypeScript Hero version: 0.13.1
- VSCode version: 1.12.2

#### Description

[code]

##### Steps to reproduce

I just start vscode with some typescript code (github.com/vega/vega-lite).

[2017-06-04 02:44] domoritz commented on #194
@mceachen I have the same issue and reported it at https://github.com/buehler/typescript-hero/issues/200.

[2017-06-04 02:45] domoritz commented on #194
I guess you are tracking the issue here. Will close #200.

[2017-06-04 02:45] domoritz commented on #200
Tracking in #194

[2017-06-04 02:45] #200 closed

[2017-06-04 10:38] buehler commented on #194
@domoritz @mceachen
Can you provide some code that is not indexed? I try to reproduce the error, but I don't get the error :-(

[2017-06-04 11:38] buehler commented on #194
I'd be very happy if someone with the problem could try out the following branch:
https://github.com/buehler/typescript-hero/tree/fix/error-building-index

I changed the notification system that the server used to send the index to the extension. As well as some null / undefined checks

[2017-06-04 15:41] Artfloriani commented on #194
@buehler How can I install an extension from a git branch?

[2017-06-05 08:38] buehler commented on #194
@Artfloriani

Actually, that's pretty easy:

- Check out the repository and the specific branch
- Run `yarn install` or `npm install` in your folder
- Run `yarn run build` or `npm run build`
- Go to `$HOME/.vscode/extensions` folder in your system (so os x / linux -> `~/.vscode/extensions`, and windows -> `C:\Users\<<username>>\.vscode\extensions`)
- Create a symlink to the extension folder (`ln -

[2017-06-05 09:40] jamie94bc commented on #194
@buehler I'm still seeing the error after checking out and building that branch.

[2017-06-05 11:27] buehler commented on #194
@jamie94bc the one with the constructor of undefined?

[2017-06-05 12:39] notVitaliy commented on #194
@buehler

I was getting a different error on OSX. Seems that it was dropping the leading `/` before `Users`. Checked out the fix branch, error is gone. 👍

[2017-06-05 13:03] patrickracicot commented on #194
@buehler I've build the fix branch and I'm still getting the same error.

OS: Windows 10

[code]

[2017-06-05 14:34] jamie94bc commented on #194
@buehler yes, the same as the @patrickracicot pasted above.

[2017-06-05 15:27] swimmadude66 commented on #194
Just corroborating here, on v0.13.1 I now get that same error

[code]

[2017-06-05 16:26] buehler commented on #194
ok, I upgraded the serializer. Could someone pull and build (with new npm install) the branch and see if the error is still persistent?

[2017-06-05 16:35] mceachen commented on #194
[code]

[2017-06-05 16:37] buehler commented on #194
oh I see...

[2017-06-05 16:55] mceachen commented on #194
[code]

[2017-06-05 16:59] buehler commented on #194
Well... damn. I'm gonna need to investigate this error further. Are you indexing an angular project? Or what kind of codebase is it?

[2017-06-05 17:00] mceachen commented on #194
fails if I open any of my projects, like https://github.com/mceachen/exiftool-vendored.js

[2017-06-05 17:02] mceachen commented on #194
Also, while we're here, let me say thanks again for your work on this, it really is great. I wrote a review yesterday: https://marketplace.visualstudio.com/items?itemName=rbbit.typescript-hero

[2017-06-05 18:53] mceachen commented on #194
To verify I'm building a reasonable local build, I just checked out your v0.12.0 tag (fwiw there was a compilation error in `test/provider/ResolveQuickPickProvider.test.ts`, I just deleted it), and functionality (reorder imports, add import) is working properly.

[2017-06-06 00:49] mosluce opened #203 "ImportResolveExtension - There was an error during reprocessing changed files"
<thank you for using and contributing to typescript hero>
<please fill the information below to ease up the process>
<you may even implement it and send a PR which would be very appreciated>

#### System information

- OS: macOS 10.12.5（16F73）
- TypeScript Hero version: 0.13.1
- VSCode version: 1.12.2

#### Description

[code]

##### Steps to reproduce

1. ng new hero-test (angular-cli v1.1.0)
2.

[2017-06-06 06:22] mosluce commented on #203
duplicate #194

[2017-06-06 06:22] #203 closed

[2017-06-06 07:45] buehler commented on #194
@mceachen Thank you :-) Really appreciate it!

It's not making any sense right now. I used your project (exiftool-vendored.js) and don't encounter the errors. When I check in the serializer, the error you experience says it cannot read `constructor of undefined`. This is kind of impossible when I look at the code 😐

[2017-06-06 08:24] idchlife opened #204 "Hero outputs "no such file" every time I edit any file and save it."
<thank you for using and contributing to typescript hero>
<please fill the information below to ease up the process>
<you may even implement it and send a PR which would be very appreciated>

#### System information

- OS: Mac OS 10.12.5
- TypeScript Hero version: 0.13.1
- VSCode version: 1.12.2

#### Description

Suddenly have error with editing and saving files. Happened maybe after updating som

[2017-06-06 08:26] gtzinos opened #205 "Doesn't remove unused imports"
System information

OS: Windows 10
TypeScript Hero version: 0.13.1
VSCode version: 1.12.2
Description

When i try to sort my imports it doesn't remove any unused of them.

[2017-06-06 09:02] gund commented on #194
Hi everyone! I'm also experiencing same `constructor of undefined` error on macOS and Windows 10 after an update a few days before...

Just for the reference, trace is pointing to `/.vscode/extensions/rbbit.typescript-hero-0.13.1/node_modules/ts-json-serializer/TsSerializer.js:112:21`.

I'm using it with angular project codebase.

Will try to debug that point and post here the results soon.

[2017-06-06 09:13] philjones88 commented on #204
I am getting the same error (bar paths differences).

* OS: Mac OS 10.12.5
* TypeScript Hero version: latest
* VS Code version: insiders latest

[2017-06-06 09:24] gund commented on #194
I was trying to debug master branch but could not get breakpoints to stop, not even to stop on exceptions...

The only thing I'm getting in debugger console is this:
`[Error - 13:19:37] DeclarationIndex - Index creation failed, cleanup temp index.`

Also when I'm hitting ctrl-S to save any TS file, in the extension output I got next:
[code]

I was not able to break in TypescriptParser.js nor Types

[2017-06-06 12:44] marcotamburelli commented on #194
Not sure it can help, however I checked TsSerializer.js:
at line 106 it checks if the argument is null,
`        if (obj === null) {`
 then checks for other conditions like
`        else if (obj.constructor === Date) {`
the problem is that if obj is `undefined` (as it seems to happen) it crushes.
I think that it would be better to check the null condition with == or introducing a special case for

[2017-06-06 13:01] swimmadude66 commented on #194
@marcotamburelli  that looks promising. Since we need it to be an object, the null check could even be replaced with just a truthiness check to cover null, undefined, and other non-object values.

just change
[code]
to
[code]

[2017-06-06 13:10] buehler commented on #194
@gund
yes `ts-json-serializer` is my own (ups..) serializer I wrote: https://github.com/buehler/ts-json-serializer

[2017-06-06 13:16] swimmadude66 commented on #194
@buehler Slightly off topic, but that project is really cool and I had no idea it existed.

I'm going to try forking that one too and see if that's really the cause.

[2017-06-06 13:19] buehler commented on #194
@swimmadude66 Thanks! :-)
I really do appreciate the help! Sometimes it's so random to find an error, and it's a lot of work

[2017-06-06 13:22] buehler commented on #194
@gund To actually force vscode to break at a certain point you can use the `debugger;` statement. Then it will definitely stop.

[2017-06-06 13:33] buehler commented on #194
@gund @swimmadude66 @mceachen
Let's have a try off: https://github.com/buehler/typescript-hero/commit/d520798c1ce5e85221a5d47a708ffccd293d948d

(reinstall npm dependencies.)

It should process undefined now, and I found an error with the different platforms (unix vs windows)
[code]

[2017-06-06 13:35] swimmadude66 commented on #194
@buehler oh man, this isn't even worth me making a PR. You have this fixed already! you just gotta update the dependency on `ts-json-serializer` to ^1.2.0. Just tried it in my fork and the problem is fixed and all tests pass!

[2017-06-06 13:38] buehler commented on #194
@swimmadude66 in the fix branch, the dependency should be `1.2.4` right now. I just tried on my windows machine with a normal demo project and an angular project. It seems to be working. Right now testing on os x

[2017-06-06 13:40] swimmadude66 commented on #194
yeah, I cloned master to try and change as little as possible. That one fix made it work for me on Windows 10. Fingers crossed that it works on OS X as well.

[2017-06-06 13:43] buehler commented on #205
Right now, it seems to not remove imports that are used in comments.

[2017-06-06 13:44] buehler commented on #204
Yep. this is related to #194
Will hopefully be fixed asap

[2017-06-06 13:44] #204 closed

[2017-06-06 13:45] idchlife commented on #204
Thanks!

[2017-06-06 13:45] gtzinos commented on #205
It doesn't remove imports that not exists in the whole file.

[2017-06-06 13:48] buehler commented on #194
Seems to be working. Can somebody confirm it's working?

[2017-06-06 13:59] swimmadude66 commented on #194
@buehler  I'm gonna get one of my coworkers to test it on their mac, give me a second

[2017-06-06 13:59] buehler commented on #194
@swimmadude66 Awesome thanks!
Use the fix branch please :-)

[2017-06-06 14:07] gund commented on #194
@buehler just ran in the project on Windows that was throwing an error (not every codebase was throwing that error) and the fix actually fixes the problem!
Great work! Thanks =)

[2017-06-06 14:10] swimmadude66 commented on #194
@buehler just ran the fix branch on OS X and we got the fabled check mark! you good G!

[2017-06-06 14:11] buehler commented on #194
Awesome. :shipit:

[2017-06-06 14:12] #194 closed

[2017-06-06 18:24] mceachen commented on #194
Working for me on windows now. Thanks!

[2017-06-12 08:23] buehler commented on #205
@gtzinos Can you make an example?

[2017-06-12 08:28] gtzinos commented on #205
Sure @buehler

I am developing a component which it includes a module that it doesn't use, then i click on sort imports but it just sort them and doesn't remove it as expected.

import { Component } from '@angular/core';
import { Page } from '../../templates/page/page';
import { Websockets } from '../../../providers/api/websockets';

@Component({
    selector: 'login',
    templateUrl: './login.co

[2017-06-12 08:31] buehler commented on #205
Alright, so as I assume: `Websockets` should be removed.
I'll have a look at it :-)

[2017-06-12 08:32] gtzinos commented on #205
Thank you for your support. You do a great job.

[2017-06-12 09:36] #149 closed

[2017-06-12 09:36] #205 closed

[2017-06-12 21:50] #136 closed

[2017-06-12 23:53] NateMay opened #208 "Imports are duplicated when using barrels"
#### Description

When I create import barrels in an `index.ts` file, all of the imports in that index file are imported duplicately.

##### Steps to reproduce

1. create an import [barrel](http://tattoocoder.com/angular2-barrels/)
2. add an exported member of the barrel to another file
3. run the typescript hero command to add missing imports to the open document

[2017-06-13 06:08] buehler commented on #160
@CoenraadS Is this still an issue?

[2017-06-13 06:17] #158 closed

[2017-06-13 07:15] buehler commented on #208
I think this one could be related to #175

[2017-06-13 07:59] NateMay commented on #208
I think #175 is a name collision issue. I've had to rename exports and filenames before to prevent such collisions.

instead this happens not because there are multiple constructs with the same name, but because the same construct is exported from multiple files via a barrel

index.ts (my barrel at the services level)
[code]

In this example, I barrel my services so that I can import them like suc

[2017-06-15 07:23] buehler opened #211 "Upgrade vscode dependencies"
#### Reason

The libraries changed and the json-rpc protocol changed as well. So those deps should be updated.

[2017-06-15 12:46] #100 closed

[2017-06-15 12:46] #102 closed

[2017-06-15 12:46] #211 closed

[2017-06-15 13:39] buehler commented on #111
@19majkel94 is this still an issue?

[2017-06-15 20:11] 19majkel94 commented on #111
I don't know, I've switched to other extension a long time ago 😞

[2017-06-15 23:16] Manusan42 opened #214 "Triggering "Organize imports" ignores references encapsulated in namespace and throws them away."
#### System information

- OS: Win10
- TypeScript Hero version: 1.0.0
- VSCode version: 1.13.1

#### Description

Triggering "Organize imports" ignores references encapsulated in namespace and throws them away.

##### Steps to reproduce

Considering the following code:
[code]

Now trigger "Organize imports" and the "https"-import is removed, because it is only referenced in the interface which is

[2017-06-16 05:29] buehler commented on #214
Will have a look at it asap !

[2017-06-16 05:30] #111 closed

[2017-06-16 09:29] Wykks opened #215 "Organize import doesn't works well with baseUrl"
#### System information

- TypeScript Hero version: 1.0.0

#### Description

importGroups incorrectly group workspace imports with modules imports when using `baseUrl`

##### Steps to reproduce

When have directory like "src/app/modules" (basically angular-cli setup)

1. Set `baseUrl` to `src`
2. Then add import `app/module/stuff`
3. organizeImport
4. The import is moved to modules imports

[2017-06-16 14:30] AHelper opened #216 "Feature Request: Preserve header location when organizing imports"
#### System information

- OS: Windows 7
- TypeScript Hero version: 1.0.0
- VSCode version: 1.13.1

#### Feature: Preserve header location when organizing imports

Currently, if I have a file such as:
[code]

If I organize imports, it will place the organized block of imports above the copyright header (although after "use strict"), which I have to keep moving back down to where it was (Same when

[2017-06-19 06:11] P-H-F opened #218 "Organize import does not work when the regex contains @ or |"
#### System information

- OS: Win7
- TypeScript Hero version: 1.0.0
- VSCode version: 1.13.1

#### Description

When I add an importGroup which either contains '@' or '|' (but is still a valid regex) the imports are not grouped.

##### Steps to reproduce

###### Case 1: Scoped packages
1. Set setting `typescriptHero.resolver.importGroups` to `[ "/@angular/" ]`
2. Add angular import
3. Organize im

[2017-06-19 06:13] buehler commented on #218
Actually this is a bug then. This should be a supported use case.

[2017-06-19 06:54] buehler commented on #216
Yea, the problem is, that I parse the files with the official `typescript` package.
To find comments, I'd need to "parse" the file with regex which would kill the performance of the extension.

What I could do though (for simplicity and the sake of performance):
- Check (either all or the first few, I've not decided yet) lines of the actual document and check it with string.startWith
- If the foll

[2017-06-19 06:56] #160 closed

[2017-06-19 07:04] buehler opened #219 "Code outline does not jump in active editor"
#### System information

- OS: any
- TypeScript Hero version: 1.0.0
- VSCode version: 1.13.1

#### Description

When clicking on an element in code outline view, the editor positions the cursor but does not jump to it if it's out of the users view

[2017-06-19 07:58] buehler commented on #219
Note to jump around in active window:
[code]

[2017-06-19 12:16] #219 closed

[2017-06-19 15:57] #214 closed

[2017-06-19 17:26] AHelper commented on #216
Hmm, in my case of working inside an existing large codebase, adding in markers won't be very practical...  I can think of a workaround with a string.startsWith, if the string to search for can be a set in settings.json, then maybe searching for the last line in the header comment block would get it near the right spot, but doesn't seem quite right.

Looking at what TS does for quick fix on import

[2017-06-19 19:43] buehler commented on #216
Actually this may be an option, to use the first import as "start of imports". If there are no imports at all, start at the top of the file, otherwise use the starting point of the first import that is there in the file.

The parser goes through the files, parses them to an AST with the help of the `typescript` compiler. Afterwards, I parse the AST (recursive) to generate a set of usable classes a

[2017-06-20 00:42] mceachen opened #222 "`typescriptHero.resolver.insertSemicolons` is ignored"
#### System information

- OS: mac and win10
- TypeScript Hero version: 1.0.0
- VSCode version: 1.13.1

#### Description

Up to version 0.13.2, the `typescriptHero.resolver.insertSemicolons` option allowed `Organize imports` to run properly, not inserting semicolons.

After upgrading to TSHero v1.0.0, semicolons are always inserted, regardless of the setting's value.

##### Steps to reproduce

1.

[2017-06-20 05:24] buehler commented on #222
@mceachen Thanks for the note! I already encountered the error and already fixed it @ #217 PR.
Will release the stuff soon

[2017-06-20 05:24] #222 closed

[2017-06-20 06:10] mceachen commented on #222
Nice! I wanted to play with it, but master on both win10 and linux and ts2.3.4 and ts2.4.0 has the following build error:

[code]

[2017-06-20 06:13] buehler commented on #222
Oh ... 😨
Actually, I changed from `yarn` to `npm5`. Maybe that's the issue

[2017-06-20 06:20] #218 closed

[2017-06-20 06:20] mceachen commented on #222
nope it's ts 2.4

[2017-06-20 06:22] mceachen commented on #222
[code]

[2017-06-20 06:23] mceachen commented on #222
and I tried massaging Connection. This diff makes 2.3.4 happy, but 2.4.0 still fails.

[code]

[2017-06-20 06:49] buehler commented on #222
Hmm thanks for the clarification. I'll have a look at it and I'll lock the dep for that matter. (Or maybe upgrade it)

[2017-06-20 06:56] mceachen commented on #222
Can confirm, forcing the dep to 2.3.x addresses the issue:

[code]

[2017-06-20 06:58] mceachen commented on #222
Also: thanks again for your work on this extension! 👍

[2017-06-20 07:13] buehler commented on #222
You're welcome! Happy to see that it is doing some good 😊

And in return: thanks for your help and contributions!

[2017-06-20 13:07] thekalinga opened #225 "Allow user to search within outline"
#### System information

- OS: Ubuntu 14.04
- TypeScript Hero version: 1.1.0
- VSCode version:  1.14.0-insider

#### Feature: Outline search

Though we have outline, there is no way to search for the item of interest.

#### Reason

Would be really handy if the outline accompanies search aswell so that we dont need to scroll to eyeball the item

[2017-06-20 19:17] subvertallchris opened #226 "Duplicate Imports"
#### System information

- OS: Mac 10.11.6
- TypeScript Hero version: 1.0.0 + 1.1.0
- VSCode version: 1.13.1

#### Description

Adding a missing import duplicates existing imports in my file.

##### Steps to reproduce

1. Import a missing constant using keyboard shortcut to import under cursor, click on the option to import the missing constant, or click to attempt to add all if possible.

This _m

[2017-06-21 04:26] abdulkareemnalband commented on #226
I also have same issue so i reverted back to 0.13.2
here is vsix file if anybody needs it
[typescripthero.0.13.2.vsix.zip](https://github.com/buehler/typescript-hero/files/1090332/typescripthero.0.13.2.vsix.zip)

[2017-06-21 06:48] buehler commented on #225
Hey @thekalinga

The least I could provide would be a picker box in vscode itself since the view that the extension adds does not provide any search features or interfaces.

But for that case, there is already something: cmd+P and enter `@` into the "I can do everything bar" of vscode. There are all symbols of your file.

Do you think it would be handy to have a seperated search box?

Cheers

[2017-06-21 06:50] buehler commented on #226
ref: #175

[2017-06-21 13:34] thekalinga commented on #225
@buehler The current symbols search screen is good enough for searching (- outline).

I close explorer most of the time as its a waste of real estate if you use shortcuts most of the time.

Its would be be nice if this outline can be moved to dialog & search be present there (like eclipse does).

In the current state, Looks to me(now) its better **not to implement** this as the ultimate thing to d

[2017-06-21 13:46] buehler commented on #225
@thekalinga no worries :-)

This was not wasted time, actually it was a good idea to think about it again. As it seems that this "feature" is actually pretty useless.

So I'm actually thinking about getting rid of the view (and if there is the need for it make an own extension from it)

Thanks and Cheers!

[2017-06-21 13:46] #225 closed

[2017-06-21 20:24] wycats opened #227 "feature: ES2015 default import (and named import) syntax"
#### System information

- OS: Windows
- TypeScript Hero version: 1.1.0
- VSCode version: 1.13.1

#### Description

If I have an import with mixed default and named imports:

[code]

And I organize imports, I get:

[code]

[2017-06-21 21:42] buehler commented on #227
oh.. actually that's a total new syntax 😄
When you use the following syntax it should work:
`import { default as DynamicHTMLContent, DynamicTrustedHTMLContent } from './content/html';`

Did not know that there are other ways to do this. I think my parser does not recognize the syntax.

[2017-06-22 16:02] wycats commented on #227
@buehler which parser are you using? Certainly TS supports it. fwiw this syntax was included in ES2015.

[2017-06-23 08:30] buehler commented on #227
I use the typescript compiler to create an AST. but this ast reads like hell, so I made my own strategy. It's possible that those things are not up to date. I need to implement that :)

[2017-06-23 08:38] sugendran opened #228 "Feature Request :: Find unused code"
#### Feature Find unused code

It would be great if the extension had a feature to detect unused code. I think it would require two steps.

1/ remove all unused imports in all files in the project
2/ Find files that have zero imports.

#### Reason

I work in a very large code base, and I know there is dead code in there, but it's quite hard to uncover.

[2017-06-25 17:24] domoritz opened #229 "Typescript hero ignores `search.exclude`"
#### System information

- OS: Mac OS
- TypeScript Hero version: v1.1.0
- VSCode version: 1.13.1

#### Description

I get import recommendations for code that is in `build`.

##### Steps to reproduce

1. Clone https://github.com/vega/vega-lite
2. yarn install (creates files in `build`)
3. Try autosuggest for imports

<img width="722" alt="screen shot 2017-06-25 at 10 18 36" src="https://user-image

[2017-06-26 13:40] tonysneed opened #230 "Animated Gifs in ReadMe"
It would be great to see some animated gifs in the project ReadMe, to help noobies with TS Hero get up to speed quickly.

[2017-06-26 16:11] dskopa-softdev commented on #226
I have the same issue: when I add an import for a missing name, it duplicates the rest of import statements:

![Duplicate imports example](http://i.imgur.com/yr0oWon.gif)

TypescriptHero v 1.1.0

it's a fresh empty app created using `ng new`

[2017-06-26 23:31] startswithaj commented on #226
Experiencing the same thing

[2017-06-27 14:57] jmitchell89 commented on #226
I also have this issue very annoying. 👎

[2017-06-27 16:36] buehler commented on #226
Sadly, even I experience those bugs sometimes.. but I need some time to fix them. Which is a scarce resource right now.

[2017-06-28 06:51] swissmanu commented on #208
this is so annoying. would love to fix it if i knew how 🤔😅

[2017-06-28 06:59] swissmanu commented on #226
@buehler can you point in some direction? maybe i find some time to look into.

[2017-06-28 08:04] buehler commented on #226
My guess is, that the parsing of the pathes on are not the same. The method that implements all missing imports is found @ https://github.com/buehler/typescript-hero/blob/master/src/extension/extensions/ImportResolveExtension.ts#L307-L330
So when the import resolve extension wants to find the missing imports, it actually get's no matches for the existing ones

[2017-06-28 11:27] arutkowski00 commented on #172
I have exactly the same issue with exported namespace

[2017-06-28 19:27] cvharris opened #231 "Poor Intellisense Performance"
#### System information

- OS: Mac OSX Sierra
- TypeScript Hero version: 1.1.0
- VSCode version: 1.13.0 & Insiders

#### Description

Trying to use this extension on an Angular-Cli project and noticing a lot of slowdown lately that makes this awesome extension undesirable. It seems the Intellisense is holding things up. I have seen this in the past month and thought it would work itself out.

When

[2017-06-28 21:02] buehler commented on #231
Well, let's have a look at it. Sometimes I saw messages from the ts-language-server that it crashed on certain ts codes and after that the performance sucked. But in that case, there's nothing we can do in this extension. Lets hope we find the issue..

[2017-06-28 21:51] #141 closed

[2017-06-29 15:01] thiagoaos commented on #231
Same here. I disabled the extension temporarily and vscode performance back normal.
Can be a conflict with Angular Language Service extension?

[2017-06-29 15:03] cvharris commented on #231
I ruled out any conflicts with other extensions by disabling all but TSH.

[2017-06-30 08:43] buehler commented on #231
well right now, TSH "delivers" all calculated symbols each time you change something from the server part to the client part. This needs to change, so that only the deltas are delivered. I'm currently breaking out the parser, so it can be reused in other extensions and projects: https://github.com/TypeScript-Heroes/node-typescript-parser

[2017-07-01 03:42] acidduckling commented on #226
This only seems to happen if you do not sort the imports first - if you sort the imports with the default key binding (ctrl + alt + o) then the imports do not duplicate. At least that seems to be the case from what I experience!

[2017-07-03 20:20] subvertallchris commented on #226
+1 here, sorting first prevents duplication. It also removes my `import * as React from 'react'`, which is equally annoying, but hopefully it helps troubleshooting.

[2017-07-04 12:34] motiejunas commented on #226
same here after last release

[2017-07-05 08:15] Catscratch opened #234 "Code Outline is empty"
Hi.

#### System information

- OS: Windows 10 x64
- TypeScript Hero version: 1.1.0
- VSCode version: 1.13.1

#### Description

My code outline window is simply empty. :-)

##### Steps to reproduce

1. Install Visual Studio Code
2. Install extension
3. Restart
4. Choose a typescrypt file (.ts)
5. Extend outline tab and see its empty

Sadly, I can't tell anymore. I can only tell what I see. :-)

[2017-07-05 09:30] buehler commented on #234
Humm :-)
Well in an unreleased version, I removed the outline, since you actually can use `cmd+shift+o` to open a cool outline from vscode itself with search and everything. So this is not really needed. Maybe I'm gonna create another extension just for that purpose, but then with multiple languages, not only TS

[2017-07-07 05:48] buehler commented on #234
Well actually, there are people who need that feature. So I'm gonna reenable it :)

[2017-07-12 15:24] jcjolley commented on #231
FWIW, I too am experiencing this issue, and had to uninstall the extension in order to continue working.
It is also with an Angular-CLI project.

[2017-07-12 15:27] MickeySegal opened #242 "Interaction with VSCode 1.14.0 bug"
#### System information

- OS: <Windows 10>
- TypeScript Hero version: <1.1.0>
- VSCode version: <1.14.0>

#### Description

TypeScript Hero seems to be running afoul of a bug in VSCode 1.14.0

##### Steps to reproduce

Discussed in https://github.com/Microsoft/vscode/issues/30486

[2017-07-12 15:42] jrieken commented on #242
Nah, this is an issue in VS Code. Nothing to change in this extension. We have fix and are making sure to get it out asap.

[2017-07-12 15:47] buehler commented on #242
@MickeySegal Thanks for the report
@jrieken  Thanks!
I also experienced very high cpu loads and I was wondering if my code was so drastically wrong.

I'm trying to improve the code in that manner for the sake of such changes.

Thank you guys!

[2017-07-12 15:56] buehler commented on #231
I need to check if it's related to https://github.com/Microsoft/vscode/issues/30486

[2017-07-12 16:05] buehler commented on #234
@Catscratch still empty?

[2017-07-12 16:24] MickeySegal commented on #242
For those of us who are not familiar with the process for releasing a new version, please let us know if you release a workaround for general users faster than the VSCode fix that solves this at the other end.

Thanks for getting on this issue so promptly.

[2017-07-12 16:26] cvharris commented on #231
I tried disabling telemetry and it had no effect on the performance impact or delay.

[2017-07-12 16:46] #242 closed

[2017-07-12 17:09] buehler commented on #242
@MickeySegal I just published the hotfix. It's now released on the marketplace. So all you guys can update the extension now.

I use semantic releasing for this project (as of today) to publish any merges that are made into the master branch.

[2017-07-12 17:23] MickeySegal commented on #242
The new version of TypeScript Hero installs with no difficulty.

[2017-07-12 20:36] buehler opened #246 "feat: use long running task"
#### Feature

use the long running task to indicate progress of indexing

[2017-07-12 21:04] #246 closed

[2017-07-12 21:04] Amerzel commented on #182
I would like to see this too. I was surprised when it wasn't finding my angular modules to import.

[2017-07-13 05:58] Rukenshia commented on #231
Performance severely degraded with the last VS Code update, I don't know if it is VS Code's fault or this plugin, but disabling TS Hero makes the problem (but also the features...) go away.

[2017-07-13 06:11] buehler commented on #231
I'm working on a branch to hopefully improve the performance of intellisense.

[2017-07-13 07:03] buehler commented on #231
alright, I pushed the branch with a (hopefully) fix to improve the performance.

https://github.com/buehler/typescript-hero/tree/fix/intellisense-performance

I changed a regex test to a string comparison and delayed the calculation of the text edits to a later stage (i.e. when the completion is executed). With that change, the completion items should be calculated faster.

Can you guys test that

[2017-07-13 14:53] cvharris commented on #231
I can't quite follow your instructions on how to make it work. What should the symlink look like? I did: `ln -s ~/Sites/typescript-hero ~/.vscode/rbbit.typescript-hero-0.0.0` where `~/Sites/typescript-hero` is where I cloned the branch and built it. I moved the old folder out. In VSCode it still has the performance issue but says the version of the extension is 1.2.1

[2017-07-13 21:04] bryanrideshark commented on #226
Is there any way to just turn this off entirely? The tool is unusable now...

[2017-07-14 09:47] buehler commented on #226
Uhm, yea I guess you should be able to disable the grouping feature by setting the settings:
`typescriptHero.resolver.importGroups` to `[]`

Then it should use the "remaining" group in asc mode. So you only have one import group which does not duplicate the imports (or should.)

[2017-07-14 09:50] buehler commented on #231
Uhm, well them you need (assuming your setup) to do:
[code]

This removes the installed version of typescript hero (you can do it manually via the vscode extensions gui), then builds the repo, and creates the symlink to the built extension.

[2017-07-14 11:39] buehler commented on #167
Actually, this should be fixed with the newest releases

[2017-07-14 11:39] #167 closed

[2017-07-14 11:44] #234 closed

[2017-07-14 13:27] cvharris commented on #231
Ok thanks. I'm still not sure if I'm serving up the right version because it says 1.2.1 in the extensions sidebar still. There isn't any change in performance either. I may be loading your branch wrong though. Wish I could test this out.

[2017-07-14 16:01] jcjolley commented on #231
@buehler I can confirm that the fix branch fixes the issue. Intellisense is fast and helpful again.
Thank you so much for your hard work!

![8e711676-89a1-428d-9134-5b645d64dec8](https://user-images.githubusercontent.com/2086176/28220062-56de2880-687b-11e7-9111-d9bca72abc11.gif)

[2017-07-14 16:04] buehler commented on #231
@jcjolley cool! :-) so lets deploy that thing..

[2017-07-14 19:18] #231 closed

[2017-07-14 19:37] buehler opened #250 "Always used imports (like react) are removed during organize import"

[2017-07-14 19:54] caseyduquettesc opened #251 "Request: Code outline position option (left/right)"
#### Feature Code outline position

Add an option to place the code outline in a pane on the right hand side (like the minimap) because I like my list of files :)

#### Reason

I find myself resizing the panes often depending on if I want to look at the symbols in the code versus look at the files in the project. I'd rather have both lists, full height of the window because both are valuable to ha

[2017-07-14 22:44] buehler commented on #251
Hey @caseyduquettesc
As of now, this is not possible since the vscode extension api does not provide this feature.
Maybe on a later date ;-)

[2017-07-14 22:44] #251 closed

[2017-07-14 23:08] #250 closed

[2017-07-14 23:27] buehler commented on #186
This should work now.. (As I tested by hand)

[2017-07-14 23:27] #186 closed

[2017-07-14 23:57] caseyduquettesc commented on #251
Ah bummer, thanks for the feedback!

[2017-07-15 10:52] buehler commented on #226
heureka. @swissmanu & the others :-) I think I found the bug.

[2017-07-15 11:15] buehler commented on #208
well.. I also found out, this only happens on windows :-/

[2017-07-15 12:32] #175 closed

[2017-07-15 12:32] #226 closed

[2017-07-15 12:47] buehler commented on #208
Has something to do with the stupid `/` and `\`

[2017-07-15 12:52] buehler commented on #215
Hmm I really don't understand that feature. @Wykks could you elaborate the use of baseUrl and the usecase? (and maybe a code example so I can try it)

[2017-07-15 14:50] buehler opened #255 "bug: tsx files are not updated when changed"
#### Description

When a tsx file is created, updated or deleted, the changes are not indexed.

[2017-07-15 16:20] Wykks commented on #215
In a typical angular app, you may have this structure (based on angular style guide) :
[code]

In `prefs.component`, if you need to import `prefs.service`, without `baseUrl` it will result in something like `import {PerfsService} from '../../core/prefs/prefs.service'`.
With `baseUrl` we can do this: `import {PrefsService} from 'app/core/prefs/prefs.service'`.
And it's sometimes worse than just 2 l

[2017-07-15 16:33] cvharris commented on #231
Much better performance. Thanks for your fix @buehler!

[2017-07-16 10:18] #255 closed

[2017-07-17 20:35] caseyduquettesc opened #257 "Outline doesn't include getters"
#### System information

- OS: MacOS 10.12.5
- TypeScript Hero version: 1.3.0
- VSCode version: 1.14.1

#### Description

Code outline is missing 'getters' in classes.

##### Steps to reproduce

[code]

[2017-07-20 14:46] will093 opened #258 "ignoreImportsForOrganize does not behave as expected"
#### System information

- OS: Windows 10
- TypeScript Hero version: 1.3.0
- VSCode version: 1.13.1

#### Description

ignoreImportsForOrganize setting does not behave as expected.

##### Steps to reproduce

1. Add import:

`import {} from '@types/googlemaps';`

2. In the settings.json, ignore this import on organise:

`"typescriptHero.resolver.ignoreImportsForOrganize":["@types/googlemaps"]`

3.

[2017-07-21 12:40] BruceHem commented on #227
haha, this happens to me too.

[2017-07-24 08:14] buehler commented on #258
Actually, the `ignoreImports` does behave as expected, since the import is not removed 😉
BUT: the `undefined` part is definitly a bug.

[2017-07-24 18:54] snewell92 opened #259 "Add Export / Add ReExport"
#### Feature: Add ReExport (Add Export?)

Mostly exact same as the add import to current file, except instead of `import` it is `export`.

#### Reason

I find myself splitting up code and at some breaking point, reexporting a lot of modules from an `index.ts` and having a quick way to reexport would be nice.

[2017-07-24 21:06] buehler commented on #258
Actually, if you just want to import the types for the sake of it, you could use `import '@types/googlemaps';` But I don't know if there's any means to this.

I generally use that for reflect-metadata for example.

[2017-07-25 13:39] will093 commented on #258
@buehler Ahh you are right in that the bug is with the organise imports operation rather than `ignoreImportsForOrganize`.

So in my specific use case I am using google maps in my Angular CLI project - my understanding is that the typescript compiler should find everything in `node_modules/@types` automatically - however it seems in the case of google maps there is some issue:

https://stackoverflo

[2017-08-01 06:55] markwhitfeld opened #260 "Feature: Support creation of import module as variable imports"
#### System information

- OS: Windows 10
- TypeScript Hero version: 1.3.0
- VSCode version: 1.14.0

#### Feature - Import module as variable support

I would like to be able to pull in an import as follows...

I type the following line and press enter:
```_.union```
Given the completion match to the union method within the underscore library, TS Hero adds the following import:
```import * as _ fr

[2017-08-01 07:00] markwhitfeld commented on #260
Alternatively this could provide completion on a match to a module file name.
For example given the utils example above I type:
```uti``
And see the 'shared/utils.ts' module in the completion list. I press enter and the following import is added:
import * as utils from 'shared/utils.ts'

(It wouldn't really help with the underscore example but it would get things a long way there.)

[2017-08-10 06:47] buehler opened #262 "Feature: ES Mode"
#### Feature <name>

Enable TypescriptHero to actually index and use javascript files

#### Reason

Because of reasons 😄

[2017-08-10 06:47] buehler commented on #262
First: updated the parser
https://github.com/TypeScript-Heroes/node-typescript-parser

[2017-08-10 07:49] #258 closed

[2017-08-11 07:37] m3l7 commented on #229
same for me.
If I force the reindex of files, tsh ignores correctly the ignored paths.
Everytime the ignored folder is update, tsh reimports automatically the folder

[2017-08-11 20:59] ngfk commented on #150
Personally I would like an option to organise on save, no need for realtime organization.

[2017-08-12 10:43] mrhammadasif commented on #222
This is still the issue. Semicolon is being inserted, ignoring the setting

[2017-08-13 04:15] mceachen commented on #222
@mrhammadasif : I'm using TS Hero 1.4.0 with TS 2.4.2 and the setting
[code]
and I don't get semis added to my imports, so it works for me with the current version.

[2017-08-14 05:28] buehler commented on #150
This would be a great idea. Problem is: when I organize the imports, the document is marked as "dirty". And when somebody (like myself) has the "auto-save-on-focus-lost" feature of vscode enabled, this would end up in an infinite loop.

Dunno what to do :-/

[2017-08-14 07:30] domoritz commented on #229
This is still happening for me. Is there a way that I can help with debugging @buehler?

[2017-08-16 19:03] RandomShaper commented on #150
This would also help in the case where an import automatically added doesn't respect the sorting (or is that a bug and should be reported aside?).

@buehler, I think organize imports could do its job "offline" and only change the actual document if a change has been actually needed.

An alternative would be to work in the document itself but reseting the dirty flag if it wasn't on before the organ

[2017-08-17 04:49] timosaikkonen opened #268 "Incorrect resolution for Angular types"
#### System information

- OS: macOS Sierra 10.12.6
- TypeScript Hero version: 1.4.0
- VSCode version: 1.15.1
- Angular version: 4.1.3

#### Description

TS Hero seems to resolve a couple of Angular types incorrectly. This was less of a problem in 1.3.0 where I could manually correct the import and still use Organize Imports. Starting from 1.4.0 Organize Imports removes the imports that I've manua

[2017-08-17 17:41] ngfk commented on #150
@buehler with "auto-save-on-focus-lost" you mean setting "files.autoSave" to "onFocusChange", right?

[2017-08-17 18:12] buehler commented on #150
@ngfk Yea exactly this setting :-)

Oh ok, I'll have a look at it then.. Thanks for the hints!

[2017-08-21 09:46] kdomagoj opened #269 "Add import includes all types from node modules (insiders edition)"
When I use "Add import" option to import lib , it lists all available types form node_modules
even when ignorePatterns is enabled.

Settings part:

"typescriptHero.resolver.ignorePatterns": [
    "aws-sdk",
    "dist",
    "node_modules",
    "tslint"
    ]

[2017-08-21 09:49] kdomagoj commented on #269
Can be solved with:

"files.exclude": {
         "node_modules" : true
  }

[2017-08-22 19:08] dwally89 commented on #142
I support this request.

[2017-08-24 10:53] supdegrave opened #270 "resolve.add*Import* does not honor resolver.stringQuoteStyle"
#### System information

- OS: MacOS Sierra
- TypeScript Hero version: 1.4.0
- VSCode version: 1.15.1

#### Description

Using any of the "add import" functionality encloses the import name / path in double-quotes, despite the default setting of `resolver.stringQuoteStyle="'"`.

##### Steps to reproduce

1. Create an Angular CLI project and `npm install`
2. Add a reference to an angular Library, w

[2017-08-25 09:15] idchlife opened #271 "Plugin started using so much CPU that Mac OS creates kernel_task for CPU not to overheat"
<thank you for using and contributing to typescript hero>
<please fill the information below to ease up the process>
<you may even implement it and send a PR which would be very appreciated>

#### System information

- OS: Mac OS 10.12.5
- TypeScript Hero version: 1.4.0
- VSCode version: 1.15.1

#### Description

Several days ago TypeScript Hero started doing something that
a) makes code helper us

[2017-08-25 11:20] garethflowers commented on #150
Would love to see something like this as well!

Our current workflow is to Organise, Add Missing then Save (i.e. <kbd>Ctrl</kbd>+<kbd>Alt</kbd>+<kbd>O</kbd> then <kbd>Ctrl</kbd>+<kbd>Alt</kbd>+<kbd>Shift</kbd>+<kbd>I</kbd> then <kbd>Ctrl</kbd>+<kbd>S</kbd>).

[2017-08-27 04:05] PeteOnTheGitHub commented on #142
Great feature request

[2017-08-29 05:29] buehler commented on #270
Hey @supdegrave
Do you use the function provided by typescript hero or by typescript itself? They added the same "feature" but didn't make it configurable.

[2017-08-29 05:30] buehler commented on #271
Oh my 😨
I'm gonna have a look at it, I will get back to you if I need more info!

Thank you!

[2017-08-29 06:47] supdegrave commented on #270
I've gone back to verify, and it appears that TS Hero is honoring stringQuoteStyle.

It wasn't clear to me that the lightbulb is populated from different sources. The option that adds quotes is not from TS Hero, so I suspect you're right that it's the VSCode built-in option.

Thanks for the reply.

[2017-08-29 06:47] #270 closed

[2017-08-31 04:11] Place1 opened #272 "[Question] how to not have an newline after import groups"
Sorry for the issue, I feel like I must be missing something, but is there a way to NOT put a newline between import's that match different groups?

[2017-08-31 06:02] distante opened #273 "command 'typescriptHero.resolve.organizeImports' not found"
<thank you for using and contributing to typescript hero>
<please fill the information below to ease up the process>
<you may even implement it and send a PR which would be very appreciated>

#### System information

- OS: macOS Sierra 10.12.6
- TypeScript Hero version: 1.4.0
- VSCode version: 1.15.1

#### Description

When I call `TS Hero : Organize Imports` VSCode says it can not find `typescrip

[2017-09-02 01:57] asvetliakov opened #274 "Unable to exclude package from indexing if package is listed in package.json"
<thank you for using and contributing to typescript hero>
<please fill the information below to ease up the process>
<you may even implement it and send a PR which would be very appreciated>

#### System information

- OS: <operating system> macOS 10.12.6
- TypeScript Hero version: 1.4.0
- VSCode version: 1.15.12

#### Description

If file is listed in package.json it can't be excluded because of

[2017-09-04 23:31] dbettini opened #277 "organizeImports ignores imports used after the export statement"
<thank you for using and contributing to typescript hero>
<please fill the information below to ease up the process>
<you may even implement it and send a PR which would be very appreciated>

#### System information

- OS: OSX El Capitan
- TypeScript Hero version: 1.4.0
- VSCode version: 1.15.1

#### Description

When using the `resolve.organizeImports` command, imports used after the `export` sta

[2017-09-05 01:55] zbarbuto commented on #150
Plugins like Prettier hook into the `editor.formatOnSave` - is there any way that TypeScript hero could do the same?

[2017-09-07 15:07] Deilan commented on #180
@buehler Thanks for the response! Could you kindly tell me where I can learn more about option you are telling about?

[2017-09-08 07:22] gerleim opened #278 "[Question] How to provide importGroups settings?"
(Updated: Had to write @ _space_ angular, without the space, the markdown messes with the imports.)

(Thanks for the extension, useful. And sorry for the lame question, I never configured an extension so far...)

## 1. How can I specify setting for importGroups?
I tried to add
    "typescriptHero.importGroups": [
      "Modules",
      "Workspace",
      "Plains",
    ]
to launch.json; did not wor

[2017-09-08 08:00] #274 closed

[2017-09-08 08:00] buehler commented on #273
hmm this seems as the extension is not loaded correctly..

[2017-09-08 08:00] buehler commented on #273
You need to open at least 1 typescript file for the extension to load.

can you try to uninstall / install it?

[2017-09-08 08:03] buehler commented on #272
actually, that is not possible. What you actually CAN do, is to set the configuration to `Remaining` fro the import groups. Then only this one group matches and all imports are put in this group. So you only have one group, but without newlines.

To get rid of the newlines, this would be a new feature :)

[2017-09-08 08:04] buehler commented on #269
Actually this should be solved with #275

[2017-09-08 08:04] #269 closed

[2017-09-08 08:10] distante commented on #273
You were right. No idea what happened because it was working correctly. Maybe it was become corrupted when VS Code updated.

[2017-09-08 08:10] #273 closed

[2017-09-08 08:25] buehler commented on #180
@Deilan Of course: this would be the option `typescriptHero.resolver.stringQuoteStyle`

[2017-09-08 08:27] buehler commented on #278
Hey @gerleim

To answer your question 1: you need to put the settings into a `settings.json` file. The `launch.json` file won't do any good for this matter ;-)

You can use vscode to configure those things, just go to the user preferences, there you can switch between user config and workspace config.

It looks like you are using `basePath` or something right? Because I've never saw an import from

[2017-09-08 08:57] gerleim commented on #278
Hmm, if I press edit comment, I see content between the apostrophes.
Is this some markdown trick?

[2017-09-08 09:07] buehler commented on #278
yea markdown does render stuff between apostrophes as "code blocks"

[2017-09-08 09:11] gerleim commented on #278
I think the issue is this with the markdown:

"Typing an @ symbol, followed by a username, will notify that person to come and view the comment. This is called an “@mention”, because you’re mentioning the individual. You can also @mention teams within an organization."

How to add at sign? Not working with \@.

[2017-09-08 09:30] gerleim commented on #278
I am unable to properly add code, I tried html codes, escapes, nothing works. I'm surprised with git markdown. (How to enter '@ angular/core' properly, not turning into '@angular/core'?)

But anyway, your answer was perfect, I was able to configure, so I close this Q.

[2017-09-08 09:30] #278 closed

[2017-09-08 20:37] wshaver commented on #150
I'm wanting to use Typescript Hero, but need this one to move off of the sort-imports plugin.

[2017-09-11 12:11] augustas1 opened #281 "Sorting cannot be disabled"
After import group have appeared (typescriptHero.resolver.importGroups) seems that sorting cannot be disabled now. 'typescriptHero.resolver.disableImportsSorting' has no action.

[2017-09-11 16:20] #67 closed

[2017-09-12 06:49] buehler opened #283 "feat: Multi-Root support"
#### Feature Multi Root Support

Support multi root workspaces in typescript hero.

Suggested behaviour: root path is set for each "instance"

[2017-09-12 08:46] WonbaeLee commented on #222
I'm using TS Hero 1.4.1 with TS2.5.2 and the setting

Semicolon is being inserted

[2017-09-12 21:58] quicksnap opened #284 "ImportResolveExtension error. (Possible yarn workspace issue?)"
<thank you for using and contributing to typescript hero>
<please fill the information below to ease up the process>
<you may even implement it and send a PR which would be very appreciated>

#### System information

- OS: Mac OS 10.12.6
- TypeScript Hero version: Latest (1.4.1)
- VSCode version: Latest (1.16.0)

#### Description

When TSH first starts, it indexes fine. But, when I save, I get the

[2017-09-13 07:04] buehler commented on #284
Nope, just got those errors too. Maybe they changed something in the extension apis :-/

[2017-09-13 07:04] buehler commented on #284
Will have a look at it asap.

[2017-09-13 16:43] quicksnap commented on #284
Thanks! Love this extension, btw. It's one of those tools that, once it's not working, I have trouble remembering how I got by without it..

[2017-09-13 17:16] asvetliakov commented on #284
I've got the same problem, this PR must fix it (waiting for the new extension build)
https://github.com/TypeScript-Heroes/node-typescript-parser/pull/16

[2017-09-13 19:56] buehler commented on #284
@asvetliakov Currently working on it :-)

This is why I really love this community. Thanks for your work!

[2017-09-13 20:20] #277 closed

[2017-09-13 20:20] #284 closed

[2017-09-13 20:43] buehler commented on #271
Hey @idchlife
Is this still an issue?

[2017-09-14 08:42] idchlife commented on #271
Hi @buehler ! Actually it is not! Thanks 😉

[2017-09-14 08:42] #271 closed

[2017-09-14 14:18] DevoidCoding opened #288 "feat: taking baseUrl and paths in the import logic"
#### Feature taking baseUrl and paths in the import logic

Actually, vscode can resolve the option "baseUrl" of multiple tsconfig, and maybe the "paths" options too
Let's take that as example
[code]
For the file `./src/managers/index.ts`, if I want to import the class `MyClass` exported from the file `./src/managers/MyClass.ts`, the imported statement generated by vscode will be `import { MyClass

[2017-09-14 15:59] buehler commented on #288
Relates to #215

[2017-09-14 16:50] DevoidCoding commented on #288
Oh, I'm sorry, I didn't though it was a bug report but a feature report, my bad !

[2017-09-14 18:31] buehler commented on #288
No worries, I'm gonna think of it as a feature anyway ;-)

Yeah, thanks for the explanation!

[2017-09-15 05:41] abdulkareemnalband opened #292 "Cannot read property 'length' of undefined"
<thank you for using and contributing to typescript hero>
<please fill the information below to ease up the process>
<you may even implement it and send a PR which would be very appreciated>

#### System information

- OS:  Windows_NT x64 10.0.15063
- TypeScript Hero version: 1.4.2
- VSCode version: Code 1.16.1 (27492b6bf3acb0775d82d2f87b25a93490673c6d, 2017-09-14T16:38:23.027Z)

#### Description

[2017-09-15 06:44] #150 closed

[2017-09-15 09:01] buehler opened #293 "only organize imports in typescript / javascript files"
#### Description

Currently it's in every file. There is not much sense in like json files.

[2017-09-15 09:01] buehler commented on #293
(auto organize on save feature)

[2017-09-16 11:14] #163 closed

[2017-09-17 16:08] DevoidCoding commented on #288
I saw that the typescript package has a really good logic for that. https://github.com/Microsoft/TypeScript/blob/master/src/services/codefixes/importFixes.ts#L238

[2017-09-18 06:14] #293 closed

[2017-09-18 06:15] buehler commented on #292
What are you doing when the error happens?

[2017-09-18 06:23] micksta72 commented on #292
for me error happens when saving a file

[2017-09-18 07:38] mackelito commented on #292
I get this error to.. when opening a file

[2017-09-18 09:37] gombosg commented on #292
Same here.

[2017-09-18 12:05] malorus commented on #292
@buehler  I tried to figure out why the message appears and have made the following observation. I have a simplfied function:

[code]

When I now exchange the two lines within this function, I get the error:

[code]

Somewhat absurd. When I comment out the `let` declaration, the error disappears again. Or when I change `let` to `var`, then the error disappears as well.

The same behaviour I have f

[2017-09-19 02:24] Meligy commented on #292
I think I'm getting it also when `let` is the first line in a function.

Like, in an Angular test file:

[code]

It seems to go away if I change the `let` to `var`, unless I'm imagining, because then my tslint setting changes it back to `let` and I get the error after that.

[2017-09-19 06:26] buehler commented on #292
That's a strange error indeed. Are you on macOS, linux or windows?

[2017-09-19 06:52] abdulkareemnalband commented on #292
I'm on windows with vscode 1.16 64bit version

[2017-09-19 07:04] mackelito commented on #292
I´m on macOS

[2017-09-19 07:15] buehler commented on #216
Closed by #296

[2017-09-19 07:15] #216 closed

[2017-09-19 08:12] m3l7 commented on #292
same error.
vscode 1.16
typescript 2.3.4
arch linux

it's happening only on a specific project, not sure why

[2017-09-19 11:55] malorus commented on #292
**new observation**:
Deactivating Typescript hero helps avoiding the error. The very same is true for TSLint. Deactivating TSLint instead of Typescript hero solves it too. After reavtivating it the error won't appear again until you restart visualstudiocode.

I'm using:
vsc: 1.16.1
typescript: 2.4.2
TSLint: 1.0.7
OS: windows 7/64 bit

[2017-09-19 14:58] lucasbasquerotto commented on #292
I thought this was a VSCode issue, but then I disabled my extensions and discovered that if I disabled only ts-hero the error doesn't happen. This is an example that generates the error:

[code]

If I remove `<T>` or change `let b` with `var b` the issue doesn't happen, but if I change `let a` with `var a` the issue still happen.

Very weird...

OS: Windows 7 Ultimate x64
VSCode: 1.16.1
Node: 7.9.

[2017-09-19 15:20] buehler commented on #292
I found the bug 🎉
The parser fails when this specific pattern arrives.

[2017-09-19 15:21] #161 closed

[2017-09-19 15:38] buehler commented on #292
Sadly.. it's an issue with typescript, not with the extension.
https://github.com/Microsoft/TypeScript/issues/18390

Maybe I can fix the typescript version down to 2.4.

[2017-09-19 17:04] #292 closed

[2017-09-20 04:27] zbarbuto opened #301 "Type casting causes used imports to be removed"
#### System information

- OS: OSX
- TypeScript Hero version: 1.5.0
- VSCode version: 1.15.1

#### Description

I've enabled the new format on save option, however, it seems that whenever I save a file, any imports used purely for typing are stripped out.

##### Steps to reproduce

1. In a typescript file import an interface and use it just for a type:

[code]

2. Save the document
3. The import i

[2017-09-20 06:39] buehler commented on #301
Hmm strange.. I tested it and in my local version it works like a charm :-(

[2017-09-20 06:53] zbarbuto commented on #301
@buehler If it helps I've made a couple of simple test cases that reproduce my issue:

1:
index.ts
[code]

lib/foo.ts
[code]

2.

index.ts
[code]

lib/foo.ts
[code]

The fact that only bar gets removed in the second case but foo gets removed in the first leads me to think it's an issue related to type casting.

[2017-09-20 07:03] zbarbuto commented on #301
Confirmed to be a typecasting related issue since as soon as I removed it from the few files I was having issues with the problem went away.

[2017-09-20 07:12] buehler commented on #301
@zbarbuto thanks for the research!
Hmm that actually could be the case. This sounds more of an issue for the node parser:
https://github.com/TypeScript-Heroes/node-typescript-parser

I'll have a look at it

[2017-09-20 09:33] paulussup commented on #301
Not so heroic today @zbarbuto

[2017-09-20 17:31] tills13 commented on #281
Also, this should _not_ be enabled by default.

[2017-09-21 07:42] rndmerle opened #302 "Vue.js support ?"
Hi.

Is Vue.js single-file template support considered?
It would mean scanning .vue files and then considering only the TS code inside the <script> tag.

Thanks for your time.

[2017-09-21 16:42] lednhatkhanh commented on #231
Can confirm that the intellisense performance is terribly slow with this extension enabled, disabled it makes vscode fast again...

[2017-09-21 21:03] wshaver opened #303 "stringQuoteStyle ignored for import sorting"
#### System information

- OS:  Windows 10
- TypeScript Hero version: 1.5.0
- VSCode version: 1.16.1

#### Description
I'm using double quotes:
 "typescriptHero.resolver.stringQuoteStyle": "\""

This quote style works when

However, when Organizing imports, either using organizeOnSave or the menu:
![image](https://user-images.githubusercontent.com/786554/30718052-91830300-9ed3-11e7-8931-5b7ff20298

[2017-09-22 09:01] adrianksiezarczyk commented on #301
Is there any solution to for example disable auto-removing imports?

[2017-09-22 09:08] zbarbuto commented on #301
Until it's fixed set to: `"typescriptHero.resolver.organizeOnSave": false`

[2017-09-23 19:14] wrager commented on #303
+1 for this bug. It seems that it comes with 1.5.0. The downgrading to 1.4.2 helped me.

[2017-09-26 16:24] pedro-mass opened #305 "Multi-imports being removed (due to organizeOnSave)"
<thank you for using and contributing to typescript hero>
<please fill the information below to ease up the process>
<you may even implement it and send a PR which would be very appreciated>

#### System information

- OS: macOS Sierra version 10.12.6
- TypeScript Hero version: 1.5.0
- VSCode version: 1.16.1

#### Description

<what is going wrong>
organizeOnSave is removing my default import on a

[2017-09-26 18:18] yofreke opened #306 "Feature: Toggle remove import behavior"
#### Feature: Toggle remove import behavior

Organize imports is removing unused imports, I do not want this behavior on every project.

Can we add a boolean config value `typescriptHero.resolver.organize.remove`?

#### Reason

On older projects, some imports are left around even though the code is not used.  Would be nice to make use of "organize imports" on projects like this.

[2017-09-27 06:15] buehler commented on #305
Related to #227
When you use the "older" syntax, it works

[2017-09-27 08:46] didacrios commented on #306
You can use `ignoreImportsForOrganize` setting

[2017-09-27 16:51] banderberg opened #308 "[Question] Sort by import name instead of path"
It appears that imports are sorted by their file path rather than by the import name, so I end up with:

import { Zoo } from '../abc';
import { Apple } from '../bcd';

instead I want

import { Apple } from '../bcd';
import { Zoo } from '../abc';

Is this possible?

[2017-09-27 17:08] yofreke commented on #306
Would something like `ignoreImportsForOrganize": [ "/.*?/" ]` ignore everything?

[2017-09-28 06:32] buehler commented on #306
Uhm by now it's not a regex.. but I'll take it into account :-)

[2017-09-28 06:32] buehler commented on #308
Hey @banderberg

Right now, it's not. :-)

[2017-10-02 15:32] buehler commented on #302
Right now, it's not really planned ;-)

[2017-10-03 05:32] #308 closed

[2017-10-03 05:51] Meligy commented on #306
This feature is useful because while organize is mostly a non destructive feature, remove can be destructive.

And it makes things a bit future proof for issues like #301.

[2017-10-03 10:41] rayabhagis opened #310 "Spacing inside brackets in the imports after running remove unused imports"
#### System information

- OS: Ubuntu
- TypeScript Hero version: 1.5.0 (2017-09-19)
- VSCode version: <version>

#### Description

I enabled the setting for not having spaces inside import braces.

`"typescriptHero.resolver.insertSpaceBeforeAndAfterImportBraces": false`

and running remove unused imports re-introduces the spaces in the braces.

##### Steps to reproduce
1. Get an import without spa

[2017-10-03 13:20] abdulkareemnalband opened #311 "Organize import <ctrl>+<alt>+O removes imported functions"
<thank you for using and contributing to typescript hero>
<please fill the information below to ease up the process>
<you may even implement it and send a PR which would be very appreciated>

#### System information

- OS: Windows 10
- TypeScript Hero version: 1.5.0
- VSCode version: ^4 bit 1.16.1

#### Description

On Organize Import function definitions are removed from import list

##### Steps

[2017-10-03 14:50] buehler commented on #311
Could you make an example? This usages are complicated calculations and there are many cases where it works ;-)

[2017-10-04 15:35] #227 closed

[2017-10-04 15:35] #305 closed

[2017-10-04 15:35] pedro-mass commented on #305
So this is no longer an issue with the new syntax?

[2017-10-04 15:41] buehler commented on #305
Not in the develop branch :-)

[2017-10-04 16:08] #257 closed

[2017-10-04 16:35] shobhitg commented on #311
I am facing this issue as well in one of my files.

But unfortunately, I can't create a simple enough example, since `<ctrl>+<alt>+O` works most of the times.

[2017-10-04 16:50] danieloprado commented on #311
Same

[2017-10-05 06:43] rndmerle commented on #302
Ok thanks for for the answer.

I've just managed to make the Reorganize feature work because I really
wanted it but it's poorly done, for instance I'm replacing everything above
the JS code with spaces so the calculated indexed are preserved.

I'd like to work on Vue support but I'm not sure I'll have enough time atm.

On lun. 2 oct. 2017 à 17:32 Christoph Bühler <notifications@github.com>
wrote:

[2017-10-06 05:16] ChuckJonas commented on #149
this happens with default imports on reducers...

[2017-10-07 19:54] anyong commented on #222
Similar to above, I'm using TS Hero 1.5.0 with TS 2.5.3 and semicolons are being inserted

[2017-10-08 18:36] mceachen commented on #222
@mrhammadasif @anyong do you have [workspace settings and personal settings](https://code.visualstudio.com/docs/getstarted/settings)? Note that if you're working on a large project with other people, and they update the workspace settings, they will override the defaults and your personal settings.

Also, GG on the downvote there, buddy.

[2017-10-08 18:52] anyong commented on #222
I tried it in workspace settings.

[2017-10-08 19:22] mceachen commented on #222
fwiw I'm using both `esbenp.prettier-vscode` and `rbbit.typescript-hero`. My user settings include

[code]

[2017-10-10 06:36] buehler commented on #288
@Flavien well, I don't really use that feature of typescript, so it's not top priority to me ;-) Feel free to submit a PR if you like.

[2017-10-10 18:50] Amerzel opened #316 "Sort by Import Name"
#### Feature - Add option to sort by import name

For some strange reason my team likes to sort their imports by first import name rather than path. I love some of the features TypeScript Hero provides and it would be great if it could also sort my imports as well.

#### Example

[code]
would be sorted like:
[code]

[2017-10-11 09:21] rayabhagis opened #317 "Trim down the import parth to ../ instead of ./.."
#### System information

Might happen across all versions

#### Description

When you import something it always prepends "./"  For example

`import './../some/import';`

instead it should be

`import '../some/import';`

[2017-10-11 12:16] buehler commented on #317
Hey @rayabhagis
Are you using Windows?

[2017-10-11 12:37] rayabhagis commented on #317
No I am on Linux, Ubuntu

[2017-10-11 13:31] buehler commented on #316
Not a planned feature right now ;-) but feel free to contribute

Relates #308

[2017-10-12 10:24] gianmarcotoso opened #318 "Imports being incorrectly removed by organizer"
#### System information

- OS: Mac OSX High Sierra
- TypeScript Hero version: 1.5.0
- VSCode version: 1.17.0

#### Description

In a situation like

[code]

the import is being incorrectly removed

##### Steps to reproduce

1. Write a new `index.js` file containing the lines
[code]
2. Have the organizer do its thing
3. Behold!

[2017-10-15 22:09] fvcproductions opened #319 "Values not accepted for importGroups"
## System Information

- OS: `macOS High Sierra Version 10.13`
- TypeScript Hero version: `1.5.0`
- VSCode version: `Version 1.17.1 (1.17.1)`

## Description

With my configuration for TypeScript Hero, I keep getting a bunch of the same warnings `Value is not accepted` for my `settings.json` file when it comes to adding custom import groups.

`Value is not accepted. Valid values: ["Modules","Plain

[2017-10-16 15:00] cspotcode opened #320 "Import starting with double underscore is renamed by "organize imports" command"
#### System information

- OS: Windows 10
- TypeScript Hero version: 1.5.0
- VSCode version: 1.17.1

#### Description

The "organize imports" command erroneously changes the local name of imports within the import statement when the local identifier starts with two underscores.  It adds a third underscore; it should not change the name at all.

##### Steps to reproduce

1. Create an empty director

[2017-10-16 16:06] cspotcode commented on #318
Here is another reproduction of this bug.  The `Kept` imports are retained but the `Removed` imports are removed by "organize imports."  It seems like the subscripting operator doesn't count the left-hand-side as being used.

[code]

[code]

[2017-10-17 01:27] Meligy commented on #311
Can we please have a new release including this?
Thanks a lot!

[2017-10-17 05:25] buehler commented on #319
Hey @fvcproductions
Well, that's quite a config you have there :-D
actually, you are defining everything doubled:
[code]
This part means: Group all imports together that matches `@angular` and the second part (the object) means: Group all imports together that matches `@angular` regex BUT sort them desc. Since the logics is only adding an import to the first group it hits, the second groups won't

[2017-10-17 05:28] buehler commented on #318
Well then they are not recognized as "usage" by the parser :-) I'll need to fix that in
https://github.com/buehler/node-typescript-parser

And I saw: thank you for opening an issue there :-)
(https://github.com/buehler/node-typescript-parser/issues/32)

[2017-10-17 05:31] buehler commented on #319
I feel you ;-)
Will have a look at it, as soon as I finished some other work (like multi root workspaces.. since they are gonna break the extension in the future)

[2017-10-17 05:38] buehler commented on #283
https://github.com/Microsoft/vscode/wiki/Extension-Authoring:-Adopting-Multi-Root-Workspace-APIs

[2017-10-17 11:38] kpaxton commented on #215
I also have this same issue. I make use of the baseUrl in the tsconfig and have many of my imports using ```app/folder1/folder2/component.component``` pattern. TypescriptHero reads those as ```Modules``` in the import groups and has them separate from the ```Workspace``` group which still has relative paths ```../folder1/folder2/component.component```. When they really should be included in the ``

[2017-10-17 20:42] shobhitg commented on #311
Is there a debug mode in the extension so that collect logs and help with details. THis issue reproduces every now and then.

#315 is just a bandaid. I would like the imports to work correctly and remove unused stuff correctly too.

[2017-10-18 06:33] buehler commented on #311
@shobhitg Yes it definitly is a bandaid. That's why the issue isn't closed.

To debug, you could set the verbosity to `All` and for this particular matter, use the parser (https://github.com/buehler/node-typescript-parser) standalone to parse your source and see if the identifiers are listed in "Usages" of the parsed resource.

The items are removed from the imports when they are not recognized as

[2017-10-18 06:59] buehler opened #323 "feat: improved logging"
#### Reason

Improve the logging of the extension so ease debugging and error reporting

Possible toughts:
- Directly create issue with error description?
- More logging levels
- Possible write to a logfile?

[2017-10-18 08:01] buehler commented on #323
Possible solution: winstonJS (https://www.npmjs.com/package/winston)

[2017-10-18 23:27] shobhitg commented on #311
@buehler Thanks for pointers.

I was able to get the parser output for my impacted file.

First let look at the issue in my case.

This is before Organize:
![before ts hero organize](https://user-images.githubusercontent.com/440151/31747285-bd123510-b420-11e7-86c5-9cd62860a461.png)

And this is after Organize:
![after ts hero organize](https://user-images.githubusercontent.com/440151/31747288-c0eb

[2017-10-19 06:57] shobhitg commented on #311
@buehler Can you please indicate how do I `set the verbosity to _All_` ?

[2017-10-19 07:09] buehler commented on #311
Ofc: open the settings in vscode and set `typescriptHero.verbosity` to `All`

[2017-10-19 08:17] shobhitg commented on #311
@buehler

So I debugged my code through Typescript-Parser.

I think I found the issue.

In https://github.com/buehler/node-typescript-parser/blob/develop/src/TypescriptParser.ts#L55

There needs to be a way to specify the ScriptKind to whatever filetype we are parsing.

It should be:
[code]

And TypeScript Hero needs to pass `ScriptKind.TS` in `parseSource`.

If you think this analysis is correct,

[2017-10-19 08:33] shobhitg commented on #311
Here is my suggested fix in a pull request:
https://github.com/buehler/node-typescript-parser/pull/33

[2017-10-19 09:34] phra opened #324 "indent shortcut overridden by default"
<thank you for using and contributing to typescript hero>
<please fill the information below to ease up the process>
<you may even implement it and send a PR which would be very appreciated>

#### System information

- OS: debian sid
- TypeScript Hero version: latest
- VSCode version: latest

#### Description
the default shortcut to indent code on linux with vscode is being overriden by this plugi

[2017-10-25 09:24] buehler commented on #324
I really didn't know that on windows it's this shortcut. But you could actually just overwrite the keybindings. So maybe they changed some keybindings again in vscode, because when I originally added my keyboard shortcuts, this one wasn't taken.

[2017-10-26 05:54] #283 closed

[2017-10-26 07:54] shobhitg commented on #320
This issue is happening due to typescript's own code:

https://github.com/Microsoft/TypeScript/blob/d7be61a569608dba24d2b384e6fee12533a36736/src/compiler/utilities.ts#L383

[code]

I don't have a solution, but just noting down my findings.

[2017-10-26 08:13] cspotcode commented on #320
It looks like the compiler consistently adds an extra underscore to every
single identifier that starts with at least 2 underscores.  And it has an
`unescapeLeadingUnderscores` function to do the reverse.  I assume we need
to figure out where TypeScript hero, or more likely TypeScript-parser, is
forgetting to unescape.

On Oct 26, 2017 3:54 AM, "Shobhit Gupta" <notifications@github.com> wrote:

[2017-10-26 11:21] buehler commented on #306
This was implemented with: https://github.com/buehler/typescript-hero/pull/315

[2017-10-26 11:21] #306 closed

[2017-10-26 20:16] gianmarcotoso commented on #318
I just saw the reply! Thanks for looking into this. Since the issue is elsewhere, should we close this one?

[2017-10-26 20:53] Meligy commented on #306
Yup, works as expected. Thanks Christoph :)

[2017-10-26 21:03] buehler commented on #306
You're welcome :-) but actually the credit goes to @danieloprado

[2017-10-26 21:04] buehler commented on #318
I'm not sure if it's the same issue. Honestly, since I wrote the parser, there could be more that is missing ;-)

[2017-10-28 08:39] buehler commented on #208
I'm having my hopes up for https://github.com/buehler/node-typescript-parser/pull/37

[2017-10-28 09:08] #323 closed

[2017-10-30 07:44] #311 closed

[2017-10-30 10:48] #324 closed

[2017-10-30 10:49] buehler commented on #320
Fixed by #327

[2017-10-30 10:49] #320 closed

[2017-10-30 10:52] buehler commented on #301
Fixed by #327

[2017-10-30 10:52] #301 closed

[2017-10-30 16:54] #318 closed

[2017-10-30 22:02] buehler commented on #208
Closed by #329

[2017-10-30 22:02] #208 closed

[2017-10-31 16:27] Chippi opened #331 "1.7.0 completely breaks my vscode"
<thank you for using and contributing to typescript hero>
<please fill the information below to ease up the process>
<you may even implement it and send a PR which would be very appreciated>

#### System information

- OS: Win 10 Pro / 64bit
- TypeScript Hero version: 1.7.0
- VSCode version: 1.17.2

#### Description
- Unable to type in any file
- GIT / Source control not working
- Extension host t

[2017-10-31 22:06] Dante-101 commented on #331
The extension ends up using 2GB+ memory and crashes.
I have few JS built by Webpack in my workspace. It always crashes with one of them in the stack trace.

[code]
Is there a way to make it typescript only?

[2017-10-31 22:22] Dante-101 commented on #331
I figured out that setting `typescriptHero.resolver.resolverMode` to `TypeScript` solves the out of memory crashing issue caused by parsing of JS files.

However, the issue of not being able to type in any file (delete/backspace works!) right after the boot up until the TSH resolver finishes still exists.

[2017-11-01 11:50] mpicard opened #333 "Settings resolver.multiLineWrapThreshold has no effect"
#### System information

- OS: Linux 4.10.0-38-generic #42~16.04.1-Ubuntu SMP Tue Oct 10 16:32:20 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
- TypeScript Hero version:  1.7.0
- VSCode version: 1.17.2

#### Description
setting "typescriptHero.resolver.multiLineWrapThreshold" has no effect on import line wrapping, setting to any number and formatting always results in single line import statement despi

[2017-11-01 13:53] buehler commented on #331
Holy.

[2017-11-01 13:54] buehler commented on #331
This must be a big workspace (aka project) right?

[2017-11-01 14:00] Dante-101 commented on #331
It is not that big. ~15K lines of TS.

[2017-11-01 14:11] Chippi commented on #331
598 ts files.  node_modules excluded.

[2017-11-01 14:51] ylibrach commented on #331
Also having an issue since the 1.7 update. Fairly large project but didn't have issues prior to 1.7. Setting `typescriptHero.resolver.resolverMode` to TypeScript as suggested above seems to provide a reprieve for now.

[2017-11-02 06:25] buehler commented on #331
Do you all use code-insiders build with multi-root workspaces? or just normal ones?

Since they build multi-root workspaces, I had to recode some of the indexing logic. Maybe that's the crux there.

[2017-11-02 08:06] Dante-101 commented on #331
I have the normal one. Haven't switched over to multi-root even once.

I think creating a web app project, where Webpack outputs to the project's folder/sub-folder should reproduce the issue. If it matters, I also have the source maps enabled for the output. Though I haven't tried it on a standalone small project, this is what is happening on my system.

[2017-11-02 08:21] buehler commented on #331
The sad point is, when I use the extension (develop compiled version) I don't have any issues. But the actual codebase I'm working on is not that big.

I'll have a look and try to reduce the memory footprint. I assume the filter that ignores files is broken. Maybe I need to switch to globs so I don't even find files that are not supposed to be indexed.

[2017-11-02 08:34] Dante-101 commented on #331
For me, files that Webpack outputs were not excluded from the filter. If the extension can heuristically figure out that a given JS file coming from bundlers like Rollup, Webpack, etc., that will be great. That won't solve the issue fundamentally but hopefully, will not crash the extension.

@Chippi Can you tell us about the files which crash the extension? Does setting the resolver to Typescript

[2017-11-02 08:37] buehler commented on #331
@Dante-101 The parser runs through the node tree recursively. So with a veeeery big file (like a webpack compiled result) it does run for a long time and eventually runs into the memory issues. So this could be the error. I don't know if I can heuristically find such files, but at least make some default assumptions like `build/**` `out/**` `dist/**`

[2017-11-02 08:47] Dante-101 commented on #331
Fair enough. I believe adding that to documentation will help.

Also, do you have any explanation for the issue of not being able to type in any file (delete/backspace works) right after the VS Code boot up until the TSH resolver finishes?

[2017-11-02 09:04] Chippi commented on #331
@Dante-101 done some testing now.

`"typescriptHero.resolver.resolverMode":"TypeScript"` seems to fix the crash issue. However, tons of cpu is being used on ts file open, but I guess It's necessary.

[2017-11-02 16:36] tdd opened #334 "Question: shouldn't regex import groups take precedence over group keywords?"
Hey team, thanks a ton for the awesome import magic in here! An issue tho…

#### System information

- OS: OSX El Capitan
- TypeScript Hero version: 1.7.0
- VSCode version: 1.17.2

#### Description

I’ve got the following configuration set up:

[code]

The idea is that I'd like my npm-installed imports from material-ui to be in their own groups, below regular modules and plains, and before my work

[2017-11-02 16:46] tdd commented on #334
BTW it seems to me the culprit is at https://github.com/buehler/typescript-hero/blob/develop/src/extension/managers/ImportManager.ts#L411-L419

As you can see, whatever first group def matches gets the prize. There's no prioritization of non-keyword groups over keywords. It seems to me keywords should have lower precedence than explicit groups, don't you think?

[2017-11-03 07:29] buehler commented on #334
Actually @tdd, that's a good idea :-)
I'm trying to improve the import grouping logic further. Because right now, even I'm not as happy as I should be with it. Maybe there should be some other logic for it.

If you have any input on (not only about priorities) how to implement a grouping system, it would be appreciated.

[2017-11-03 17:11] Dante-101 commented on #331
I opened up my fork of DefinitelyTyped and the extension crashed even with the above-mentioned settings.

[code]

Not sure if it matters, the error with code and signal:
`Extension host terminated unexpectedly. Code:  3  Signal:  null`

Any ideas?

[2017-11-05 22:12] #334 closed

[2017-11-06 13:46] MadaraUchiha commented on #331
This still happens to me. Where can I download a 1.6.0 VSIX from to downgrade?

[2017-11-06 14:27] buehler commented on #331
@Dante-101 most definitely because of the wrong excludes.
@MadaraUchiha uhm. Don't know actually. I'm working on it. Just need to write some tests for it, but then it should be ready to ship.

[2017-11-06 15:06] MadaraUchiha commented on #331
For all interested, TSH 1.6.0 can be downloaded here and installed via "Install from VSIX": https://marketplace.visualstudio.com/_apis/public/gallery/publishers/rbbit/vsextensions/typescript-hero/1.6.0/vspackage

Make sure that auto updates are off. You need to uninstall 1.7.0 before you install 1.6.0

[2017-11-06 16:34] #316 closed

[2017-11-06 17:22] Amerzel commented on #316
Thanks!

[2017-11-07 08:43] buehler commented on #316
You need to thank @tdd :-) He's the typescript hero of that feature!

[2017-11-08 13:34] gregoroque opened #341 "class auto import not working"
<thank you for using and contributing to typescript hero>
<please fill the information below to ease up the process>
<you may even implement it and send a PR which would be very appreciated>

#### System information

- OS: Win7
- TypeScript Hero version: 1.7.0
- VSCode version: 1.17.2 x64

#### Description

My auto class importing stopped working.
Resolver is showing a little fire in lower left.
S

[2017-11-08 18:44] #331 closed

[2017-11-09 08:46] buehler commented on #341
Hmm.. well this looks weird: `"c:$USER\WWCT2DEV\wwct2dev"`

Can you try to open a normal folder as a workspace?

[2017-11-09 09:24] gregoroque commented on #341
That is path to my project..
I also tried to open a different project and it the imports worked.
Not sure why they are not working at the first project.

[2017-11-09 16:41] JamesConsidine commented on #288
Personally I would settle for being able to disable the TS hero importer. VS Code is pretty good at auto importing without extentions now. It just makes my intellisense a mess

[2017-11-10 06:33] ingvevs commented on #331
Perfect, downgrading to 1.6.0 brought my vscode back to life. Thanks for the tip!

[2017-11-11 12:57] akshaykhanna opened #343 "How to use typescripthero commands?"
<thank you for using and contributing to typescript hero>
<please fill the information below to ease up the process>
<you may even implement it and send a PR which would be very appreciated>

#### System information

- OS: <operating system>
- TypeScript Hero version: <version>
- VSCode version: <version>

#### Description

<what is going wrong>

##### Steps to reproduce

1. Do
2. That

<for featu

[2017-11-14 10:01] Hainesy commented on #333
Did you try restarting VS Code after changing the setting?

I've just tested and it works for me on Windows 10, VS Code 1.18.0 and TS Hero 1.7

[2017-11-14 17:13] mpicard commented on #333
Restarting fixed it. Sorry I forgot I opened this

[2017-11-14 17:13] #333 closed

[2017-11-14 19:15] jfftck opened #345 "Ignore Errors in Non JS Based Files"
#### System information

- OS: Windows
- TypeScript Hero version: 1.7.0
- VSCode version:

#### Description

SCSS files throw errors on every change. This extension should only work with files that it understands.

##### Steps to reproduce

1. Open a .scss file.
2. Get a message to view the log file.

##### Expected

1. Should use a white list the files to parse so only the files that should be pa

[2017-11-15 13:52] naeramarth7 commented on #345
Example stack trace:

[code]

[2017-11-16 07:31] buehler commented on #345
Actually it should ignore non ts / js files.
The stacktrace that was provided by @naeramarth7 does point to another extension (`color-highlight`)

[2017-11-16 08:09] naeramarth7 commented on #345
@buehler Woah, my bad. Guess I was confused since `color-highlight` did not throw any error when `typescript-hero` was disabled.

However, I could resolve the issue for now by reinstalling `color-highlight`. Thanks for pointing that out.

[2017-11-16 11:58] lukevenn opened #346 "Cannot see imported module usage so deletes on save"
<thank you for using and contributing to typescript hero>
<please fill the information below to ease up the process>
<you may even implement it and send a PR which would be very appreciated>

#### System information

- OS: MacOS
- TypeScript Hero version: 1.7.0
- VSCode version: 1.18.0

#### Description

We have an import that is passed as an object property inside a react component property like:

[2017-11-16 18:49] jfftck commented on #345
Why is a bug in another extension being reported in TypeScript Hero?

This should be ignored then.

[2017-11-16 19:11] jfftck commented on #345
Since it triggered on every change event and no other extension was reporting this error I would consider this a bug in your logging.

Please fix this as I don't want to be informed when other extensions are throwing exceptions, just TypeScript Hero.

This caused my workflow to interrupted, and since I don't have time to parse the log files to find out that it is an issue with another extension, I

[2017-11-17 18:15] christianbradley opened #347 "Type Hints for Interfaces only showing `interface MyInterface` with no details"
<thank you for using and contributing to typescript hero>
<please fill the information below to ease up the process>
<you may even implement it and send a PR which would be very appreciated>

#### System information

- OS: OSX High Sierra
- TypeScript Hero version: latest
- VSCode version: 1.18.0

#### Description

When hovering over an interface name (ie: "MyInterface") the hint overlay simply sh